@import 'vars.less';

h1#pagenotfound{
	display:block;
	margin:100px 0;
	text-align:center;
	color:#000;
	.arial(30px);
}
.fb-comments-count{
	max-width: 20px;
	.inline;
}
em{
	font-style: italic !important;
}
.shareForm{
	width:400px;
	h1{
		display:block;
		.ubuntu(15px, bold);
		color:@azulEscuro;
		margin:10px 0 20px 0;
	}
	form{
		h2{
			.ubuntu(13px);
			color:@cinzaEscuro;
		}
		input[type='text'],
		input[type='email']{
			display:block;
			border:1px @cinzaMedio solid;
			color:@cinzaEscuro;
			.placeholder(@cinzaMedio);
			.ubuntu(13px);
			height:25px;
			line-height:25px;
			padding:5px;
			width:100%;
			box-sizing: border-box;
			margin-bottom: 5px;
		}
		.submit{
			height: 32px;
			input[type="submit"]{
				height: 30px;
				line-height: 26px;
				padding:0 15px;
				float:right;
				text-align: center;
				.inline;
				color:@azulClaro;
				cursor:pointer;
				border:1px @azulClaro solid;
				background: #fff;
				.ubuntu(12px, bold);
				.transition;
				&:hover{
					background:@azulEscuro;
					color:#fff;
				}
			}
		}
	}
}
#cboxContent{
	.pedirEmail{
		&.alg-l{text-align:left;}
		&.alg-c{text-align:center;}
		h1{
			line-height: 110%;
			.ubuntu(15px);
			color:@cinzaEscuro;
			display:block;
			width:100%;
		}
		form{
			padding-top:15px;
			input[type='email']{
				height:35px;
				line-height:35px;
				padding:0 10px;
				margin:0;
				width:260px;
				color:@cinzaEscuro;
				.ubuntu(14px);
				.inline;
			}
			input[type='submit']{
				width:140px;
				line-height:35px;
				text-align:center;
				color:@azulClaro;
				border:1px @azulClaro solid;
				background: #fff;
				display:block;
				margin:0 0 0 5px;
				cursor:pointer;
				.ubuntu(14px, bold);
				.transition;
				.inline;
				&:hover{
					background:@azulEscuro;
					color:#fff;
				}
			}
		}
	}
}
a{ text-decoration:none; }
ul.pagination{
	li{
		.inline;
		&.disabled{
			display:none;
			span{}
		}
		&:last-child{border-right:1px @azulClaro solid;}
		a, span{
			.ubuntu(14px, bold);
			display:block;
			width:35px;
			height:35px;
			line-height:35px;
			text-align: center;
			border-top:1px @azulClaro solid;
			border-bottom:1px @azulClaro solid;
			border-left:1px @azulClaro solid;
			color:@azulClaro;
			background:#fff;
			.transition;
			&:active, &:visited{color:@azulClaro;}
			&:hover{
				color:#fff;
				background: @azulClaro;
			}
		}
		&.active{
			span{
				color:#fff;
				background: @azulClaro;
			}
		}
	}
}
@media @desktop{
	html{
		body{
			&:before{
				background:url('../images/layout/icone_noticias-hover.png'),
					url('../images/layout/icone_eventos-hover.png') center 10px no-repeat,
					url('../images/layout/icone_carreira-hover.png') center 10px no-repeat,
					url('../images/layout/icone_enquetes-hover.png') center 10px no-repeat;
			}
			header{
				.faixaAzul{
					background-color: @azulEscuro;
					height:40px;
					.centro{
						.telefone{
							float:left;
							height:40px;
							line-height:40px;
							color:#fff;
							padding-left:18px;
							background:url('../images/layout/icone_telefone.png') left center no-repeat;
							.ubuntu(13px, bold);
							span{
								font-size:10px;
							}
						}
						#menuSuperior{
							float:left;
							height:40px;
							line-height:40px;
							margin-left:55px;
							nav{
								ul{
									font-size: 0;
									li{
										.inline;
										a{
											.ubuntu(13px, bold);
											height:38px;
											border-bottom:2px @azulEscuro solid;
											display:block;
											padding:0 10px;
											color:#fff;
											background:@azulEscuro;
											.transition;
											&:active, &:visited{color:#fff;}
											&.ativo, &:hover{
												color:@azulMedio;
												background:#fff;
												border-bottom:2px #E4E4E4 solid;
											}
										}
									}
								}
							}
						}
						#buscaSuperior{
							width:160px;
							height:40px;
							float:right;
							form{
								width:160px;
								position:relative;
								margin-top:7px;
								height:25px;
								background:#fff;
								input[type="text"]{
									width:150px;
									height:19px;
									line-height:25px;
									background:#fff;
									padding:3px 5px;
									position:absolute;
									top:0;
									left:0;
									z-index:1;
									border:0;
								}
								input[type="submit"]{
									width:25px;
									height:25px;
									overflow: hidden;
									position: absolute;
									top:0;
									right:0;
									z-index:9;
									cursor:pointer;
									border:0;
									padding:0;
									text-indent: -1000px;
									background:url('../images/layout/icone_busca.png') #fff center center no-repeat;
									&:after{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat;}
									.transition;
									&:hover{
										background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat;
									}
								}
							}
						}
					}
				}
				.faixaCinza{
					height:101px;
					background:url('../images/layout/bg_menu.png') left top repeat-x;
					.centro{
						#link-logo{
							width:242px;
							height:60px;
							float:left;
							margin-top:20px;
							img{
								max-width:242px;
								max-height:60px;
							}
						}
						font-size:0;
						nav{
							margin-left:90px;
							float:left;
							ul.main-menu{
								padding-top:15px;
								height:75px;
								li{
									.inline;
									height:75px;
									line-height:112px;
									position:relative;
									&.ativo{
										a:after{background:@azulClaro;}
										& + li a:after{background:@azulClaro;}
									}
									&:last-child.ativo{
										a:after{background:@azulClaro;}
										a:before{background:@azulClaro;}
									}
									& > a{
										padding:0 40px;
										display:block;
										color:@cinzaEscuro;
										position:relative;
										max-height:100%;
										.ubuntu(16px);
										.transition;
										&:active, &:visited{color:@cinzaEscuro;}
										&.ativo, &:hover{
											color:@azulMedio;
										}
										&:after{
											.transition;
											content:"";
											display:block;
											height:75px;
											width:1px;
											background:#E6E6E6;
											position:absolute;
											top:0;
											left:0;
										}
										&.linkMnNoticias{background:url('../images/layout/icone_noticias.png') center 10px no-repeat;}
										&.linkMnNoticias:hover, &.linkMnNoticias.ativo{background:url('../images/layout/icone_noticias-hover.png') center 10px no-repeat;}
										&.linkMnEventos{background:url('../images/layout/icone_eventos.png') center 10px no-repeat;}
										&.linkMnEventos:hover, &.linkMnEventos.ativo{background:url('../images/layout/icone_eventos-hover.png') center 10px no-repeat;}
										&.linkMnCarreira{background:url('../images/layout/icone_carreira.png') center 10px no-repeat;}
										&.linkMnCarreira:hover, &.linkMnCarreira.ativo{background:url('../images/layout/icone_carreira-hover.png') center 10px no-repeat;}
										&.linkMnEnquetes{background:url('../images/layout/icone_enquetes.png') center 10px no-repeat;}
										&.linkMnEnquetes:hover, &.linkMnEnquetes.ativo{background:url('../images/layout/icone_enquetes-hover.png') center 10px no-repeat;}
									}
									&:last-child a:before{
										.transition;
										content:"";
										display:block;
										height:75px;
										width:1px;
										background:#E6E6E6;
										position:absolute;
										top:0;
										right:0;
									}
									&.comsub{
										position:relative;
										height:86px;
										.caret{
											.inline;
											width:7px;
											height:10px;
											margin:51px 0 0 5px;
											.transition;
											background:url('../images/layout/icone_seta-menu-cinza.png') center center no-repeat;
											&:after{background:url('../images/layout/icone_seta-menu.png') center center no-repeat;}
										}
										ul.sub{
											border:0;
											height:0;
											padding:0;
											opacity:0;
											overflow:hidden;
											.transition;
											position:absolute;
											left:0;
											top:86px;
											width:100%;
											background:#529DD1;
											z-index:1000;
											box-sizing:border-box;
											li{
												display:block;
												height:26px;
												line-height:26px;
												position:relative;
												a{
													color:#A0C9E6;
													padding:0 17px;
													display:block;
													position:relative;
													z-index:999;
													.ubuntu(13px);
													.transition;
													&:active, &:visited{color:#A0C9E6;}
													&.ativo, &:hover{
														color:#fff;
														&:after{
															background:url('../images/layout/dropdown_seta.png') right center no-repeat;
														}
													}
													&:after{
														.transition;
														display:block;
														content:"";
														height:26px;
														background:url('../images/layout/dropdown_linha.png') right center no-repeat;
														position:absolute;
														width: 75%;
														left: auto;
														right:17px;
														top:0px;
														z-index:-1;
													}
													&:before{content:"";background:url('../images/layout/dropdown_seta.png')no-repeat;}
													span{
														.inline;
														background:#529DD1;
														padding:0 10px 0 0;
													}
												}
											}
										}
										&:hover{
											.caret{ background:url('../images/layout/icone_seta-menu.png') center center no-repeat;}
											.sub{
												height:101px;
												padding:10px 0;
												border-top:1px @azulMedio solid;
												border-right:1px @azulMedio solid;
												border-bottom:2px @azulMedio solid;
												border-left:1px @azulMedio solid;
												opacity:1;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.main{
				padding:35px 0;
				section{}
				aside{}
			}
			#bannerInferior{
				display: block;
				clear:both;
				margin-top:40px;
				min-height: 152px;
				a{
					min-height: 152px;
					background: transparent !important;
					display:block;
					img{max-width:100%;}
				}
			}
			footer{
				background:@azulEscuro;
				padding:45px 0;
				height:145px;
				.centro{
					nav{
						padding-top:95px;
						background:url('../images/layout/footer_logo.png') left top no-repeat;
						ul{
							&.superior{
								li{
									.inline;
									margin-right:10px;
									a{
										display:block;
										color:#fff;
										.ubuntu(13px, bold);
										.transition;
										&:active, &:visited{color:#fff;}
										&:hover{color:@azulClaro;}
									}
								}
							}
							&.inferior{
								margin-top:12px;
								li{
									.inline;
									margin-right:10px;
									a{
										display:block;
										color:#fff;
										.ubuntu(16px);
										.transition;
										&:active, &:visited{color:#fff;}
										&:hover{color:@azulClaro;}
									}
								}
							}
						}
					}
					.assinatura{
						float:right;
						margin-top:-140px;
						text-align:right;
						.telefone{
							margin-bottom:15px;
							color:#fff;
							.ubuntu(42px);
							span{font-size:18px;}
						}
						.email{
							margin-bottom:40px;
							a{
								.ubuntu(15px);
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:@azulClaro;}
							}
						}
						.copyright{
							color:@azulClaro;
							.ubuntu(11px);
						}
						.privacy{
							margin-bottom: 20px;
							margin-top: -20px;
							a{
								color:@azulClaro;
								.ubuntu(11px);
								.transition;
								&:active, &:visited{color:@azulClaro;}
								&:hover{color:#fff;}
							}
						}
						.trupe{
							color:@azulClaro;
							.ubuntu(11px);
							margin-top:6px;
							a{
								color:@azulClaro;
								.ubuntu(11px);
								.transition;
								&:active, &:visited{color:@azulClaro;}
								&:hover, &.ativo{color:#fff;}
								img{
									margin-left:4px;
									vertical-align: -3px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media @tablet{
	html{
		body{
			header{
				.faixaAzul{
					background-color: @azulEscuro;
					height:40px;
					.centro{
						.telefone{
							float:left;
							height:40px;
							line-height:40px;
							color:#fff;
							padding-left:18px;
							background:url('../images/layout/icone_telefone.png') left center no-repeat;
							.ubuntu(13px, bold);
							span{
								font-size:10px;
							}
						}
						#menuSuperior{
							float:left;
							height:40px;
							line-height:40px;
							margin-left:15px;
							nav{
								ul{
									font-size: 0;
									li{
										.inline;
										a{
											.ubuntu(10px, bold);
											height:38px;
											border-bottom:2px @azulEscuro solid;
											display:block;
											padding:0 8px;
											color:#fff;
											background:@azulEscuro;
											.transition;
											&:active, &:visited{color:#fff;}
											&.ativo, &:hover{
												color:@azulMedio;
												background:#fff;
												border-bottom:2px #E4E4E4 solid;
											}
										}
									}
								}
							}
						}
						#buscaSuperior{
							width:140px;
							height:40px;
							float:right;
							form{
								width:140px;
								position:relative;
								margin-top:7px;
								height:25px;
								background:#fff;
								input[type="text"]{
									width:130px;
									height:19px;
									line-height:25px;
									background:#fff;
									padding:3px 5px;
									position:absolute;
									top:0;
									left:0;
									z-index:1;
									border:0;
								}
								input[type="submit"]{
									width:25px;
									height:25px;
									overflow: hidden;
									position: absolute;
									top:0;
									right:0;
									z-index:9;
									cursor:pointer;
									border:0;
									padding:0;
									text-indent: -1000px;
									background:url('../images/layout/icone_busca.png') #fff center center no-repeat;
									&:after{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat;}
									.transition;
									&:hover{
										background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat;
									}
								}
							}
						}
					}
				}
				.faixaCinza{
					height:101px;
					background:url('../images/layout/bg_menu.png') left top repeat-x;
					.centro{
						#link-logo{
							width:210px;
							float:left;
							margin-top:20px;
							img{
								max-width:210px;
							}
						}
						font-size:0;
						nav{
							margin-left:42px;
							float:left;
							ul.main-menu{
								padding-top:15px;
								height:75px;
								li{
									.inline;
									height:75px;
									line-height:112px;
									position:relative;
									& > a{
										padding:0 20px;
										display:block;
										color:@cinzaEscuro;
										position:relative;
										max-height:100%;
										.ubuntu(16px);
										.transition;
										&:active, &:visited{color:@cinzaEscuro;}
										&.ativo, &:hover{
											color:@azulMedio;
										}
										&:after{
											.transition;
											content:"";
											display:block;
											height:75px;
											width:1px;
											background:#E6E6E6;
											position:absolute;
											top:0;
											left:0;
										}
										&.linkMnNoticias{background:url('../images/layout/icone_noticias.png') center 10px no-repeat;}
										&.linkMnNoticias:hover, &.linkMnNoticias.ativo{background:url('../images/layout/icone_noticias-hover.png') center 10px no-repeat;}
										&.linkMnEventos{background:url('../images/layout/icone_eventos.png') center 10px no-repeat;}
										&.linkMnEventos:hover, &.linkMnEventos.ativo{background:url('../images/layout/icone_eventos-hover.png') center 10px no-repeat;}
										&.linkMnCarreira{background:url('../images/layout/icone_carreira.png') center 10px no-repeat;}
										&.linkMnCarreira:hover, &.linkMnCarreira.ativo{background:url('../images/layout/icone_carreira-hover.png') center 10px no-repeat;}
										&.linkMnEnquetes{background:url('../images/layout/icone_enquetes.png') center 10px no-repeat;}
										&.linkMnEnquetes:hover, &.linkMnEnquetes.ativo{background:url('../images/layout/icone_enquetes-hover.png') center 10px no-repeat;}
									}
									&:last-child a:before{
										content:"";
										display:block;
										height:75px;
										width:1px;
										background:#E6E6E6;
										position:absolute;
										top:0;
										right:0;
									}
									&.comsub{
										position:relative;
										height:86px;
										.caret{
											.inline;
											width:7px;
											height:10px;
											margin:51px 0 0 5px;
											.transition;
											background:url('../images/layout/icone_seta-menu-cinza.png') center center no-repeat;
											&:after{background:url('../images/layout/icone_seta-menu.png') center center no-repeat;}
										}
										ul.sub{
											border:0;
											height:0;
											padding:0;
											opacity:0;
											overflow:hidden;
											.transition;
											position:absolute;
											left:0;
											top:86px;
											width:100%;
											background:#529DD1;
											z-index:999;
											box-sizing:border-box;
											li{
												display:block;
												height:26px;
												line-height:26px;
												position:relative;
												a{
													color:#A0C9E6;
													padding:0 17px;
													display:block;
													position:relative;
													z-index:999;
													.ubuntu(13px);
													.transition;
													&:active, &:visited{color:#A0C9E6;}
													&.ativo, &:hover{
														color:#fff;
														&:after{ background-color:#fff; }
														&:before{ color:#fff; }
													}
													&:after{
														.transition;
														display:block;
														content:"";
														height:1px;
														width:60%;
														background-color:#A0C9E6;
														position:absolute;
														right:17px;
														top:15px;
														z-index:-1;
													}
													&:before{
														.transition;
														display:block;
														content:"→";
														height:26px;
														width:15px;
														.ubuntu(22px);
														color:#A0C9E6;
														position:absolute;
														right:17px;
														z-index:-1;
														background:none;
														left:auto;
														line-height:28px;
													}
													span{
														.inline;
														background:#529DD1;
														padding:0 10px 0 0;
													}
												}
											}
										}
										&.submenuaberto{
											.caret{ background:url('../images/layout/icone_seta-menu.png') center center no-repeat;}
											.sub{
												height:101px;
												padding:10px 0;
												border-top:1px @azulMedio solid;
												border-right:1px @azulMedio solid;
												border-bottom:2px @azulMedio solid;
												border-left:1px @azulMedio solid;
												opacity:1;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.main{
				padding:35px 0;
				section{}
				aside{}
			}
			#bannerInferior{
				margin-top:40px;
				a{
					display:block;
					img{max-width:100%;}
				}
			}
			footer{
				background:@azulEscuro;
				padding:45px 0;
				height:145px;
				.centro{
					nav{
						padding-top:95px;
						background:url('../images/layout/footer_logo.png') left top no-repeat;
						ul{
							&.superior{
								width: 400px;
								li{
									.inline;
									margin-right:10px;
									a{
										display:block;
										color:#fff;
										.ubuntu(13px, bold);
										.transition;
										&:active, &:visited{color:#fff;}
										&:hover{color:@azulClaro;}
									}
								}
							}
							&.inferior{
								width:300px;
								margin-top:12px;
								li{
									.inline;
									margin-right:10px;
									margin-bottom:6px;
									a{
										display:block;
										color:#fff;
										.ubuntu(16px);
										.transition;
										&:active, &:visited{color:#fff;}
										&:hover{color:@azulClaro;}
									}
								}
							}
						}
					}
					.assinatura{
						float:right;
						margin-top:-165px;
						text-align:right;
						.telefone{
							margin-bottom:15px;
							color:#fff;
							.ubuntu(42px);
							span{font-size:18px;}
						}
						.email{
							margin-bottom:40px;
							a{
								.ubuntu(15px);
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:@azulClaro;}
							}
						}
						.copyright{
							color:@azulClaro;
							.ubuntu(11px);
						}
						.trupe{
							color:@azulClaro;
							.ubuntu(11px);
							margin-top:6px;
							a{
								color:@azulClaro;
								.ubuntu(11px);
								.transition;
								&:active, &:visited{color:@azulClaro;}
								&:hover, &.ativo{color:#fff;}
								img{
									margin-left:4px;
									vertical-align: -3px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media @mobile{
	html{
		body{
			header{
				.faixaAzul{
					background-color: @azulEscuro;
					height:40px;
					.centro{
						.telefone{
							float:left;
							height:40px;
							line-height:40px;
							color:#fff;
							padding-left:18px;
							background:url('../images/layout/icone_telefone.png') left center no-repeat;
							.ubuntu(13px, bold);
							span{
								font-size:10px;
							}
						}
						#buscaSuperior{
							width:160px;
							height:40px;
							float:right;
							form{
								width:160px;
								position:relative;
								margin-top:7px;
								height:25px;
								background:#fff;
								input[type="text"]{
									width:150px;
									height:19px;
									line-height:25px;
									background:#fff;
									padding:3px 5px;
									position:absolute;
									top:0;
									left:0;
									z-index:1;
									border:0;
								}
								input[type="submit"]{
									width:25px;
									height:25px;
									overflow: hidden;
									position: absolute;
									top:0;
									right:0;
									z-index:9;
									cursor:pointer;
									border:0;
									padding:0;
									text-indent: -1000px;
									background:url('../images/layout/icone_busca.png') #fff center center no-repeat;
									&:after{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat;}
									.transition;
									&:hover{
										background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat;
									}
								}
							}
						}
					}
				}
				.faixaCinza{
					height:101px;
					background:url('../images/layout/bg_menu.png') left top repeat-x;
					.centro{
						position:relative;
						#link-logo{
							width:210px;
							float:left;
							margin-top:20px;
							img{
								max-width:210px;
							}
						}
						#toggleMenuMobile{
							float:right;
							height:101px;
							line-height:101px;
							a{
								span{
									&:after{
										.transition;
										content:"";
										.inline;
										vertical-align: baseline;
										width:15px;
										height:15px;
										background:url('../images/layout/icone_seta.png') center center no-repeat;
										-moz-transform: rotate(90deg);
										-webkit-transform: rotate(90deg);
										-o-transform: rotate(90deg);
										-ms-transform: rotate(90deg);
										transform: rotate(90deg);
									}
								}
								.ubuntu(16px, bold);
								color:@azulEscuro;
								.transition;
								&:active, &:visited{color:@azulEscuro;}
								&.subAberto{
									span:after{
										-moz-transform: rotate(-90deg);
										-webkit-transform: rotate(-90deg);
										-o-transform: rotate(-90deg);
										-ms-transform: rotate(-90deg);
										transform: rotate(-90deg);
									}
								}
							}
						}
						nav#menuMobile{
							position:absolute;
							top:101px;
							left:0;
							width:100%;
							background:#003567;
							height:0;
							overflow:hidden;
							z-index:999999999999;
							.transition;
							&.aberto{
								height:352px;
								opacity:1;
							}
							ul{
								border-bottom:2px #003567 solid;
								li{
									height:50px;
									line-height:50px;
									a{
										height:49px;
										text-transform: uppercase;
										display:block;
										background:@azulEscuro;
										color:#fff;
										text-align:center;
										border-bottom:1px #003567 solid;
										.ubuntu(16px);
										.transition;
										&:active, &:visited{color:#fff;}
										&.ativo, &:hover{
											color:@azulMedio;
										}
									}
									&:nth-child(even){
										a{
											border-left:1px #003567 solid;
										}
									}
								}
							}
						}
					}
				}
			}
			.main{
				padding:35px 0;
				section{}
				aside{}
			}
			#bannerInferior{
				margin-top:40px;
				a{
					display:block;
					img{max-width:100%;}
				}
			}
			footer{
				background:@azulEscuro;
				padding:35px 0;
				//height:145px;
				.centro{
					nav{
						padding-top:70px;
						background:url('../images/layout/footer_logo.png') center top no-repeat;
						ul{
							text-align:center;
							&.superior{
								li{
									.inline;
									margin-right:10px;
									a{
										display:block;
										color:#fff;
										.ubuntu(13px, bold);
										.transition;
										&:active, &:visited{color:#fff;}
										&:hover{color:@azulClaro;}
									}
								}
							}
							&.inferior{
								margin-top:12px;
								li{
									.inline;
									margin-right:10px;
									margin-bottom:6px;
									a{
										display:block;
										color:#fff;
										.ubuntu(12px);
										.transition;
										&:active, &:visited{color:#fff;}
										&:hover{color:@azulClaro;}
									}
								}
							}
						}
					}
					.assinatura{
						float:none;
						text-align:center;
						margin-top:35px;
						.telefone{
							margin-bottom:15px;
							color:#fff;
							.ubuntu(42px);
							span{font-size:18px;}
						}
						.email{
							margin-bottom:40px;
							a{
								.ubuntu(15px);
								color:#fff;
								.transition;
								&:active, &:visited{color:#fff;}
								&:hover{color:@azulClaro;}
							}
						}
						.copyright{
							color:@azulClaro;
							.ubuntu(11px);
						}
						.trupe{
							color:@azulClaro;
							.ubuntu(11px);
							margin-top:6px;
							a{
								color:@azulClaro;
								.ubuntu(11px);
								.transition;
								&:active, &:visited{color:@azulClaro;}
								&:hover, &.ativo{color:#fff;}
								img{
									margin-left:4px;
									vertical-align: -3px;
								}
							}
						}
					}
				}
			}
		}
	}
}

h1#pagetitle{
	height:70px;
	line-height:70px;
	background:url('../images/layout/bg_titulo.png') left top repeat-x;
	.centro{
		color:#fff;
		.ubuntu(32px, 300);
		small{
			font-size: 15px;
			color:@azulEscuro;
		}
		.busca{
			text-transform: uppercase;
		}
	}
}

.cke{
	padding-right:30px;
	@media @mobile{
		padding:0 5px;
	}
	p{
		.ubuntu(13px);
		color:@cinzaEscuro;
		line-height: 150%;
		&.legenda{
			padding-top: 0 !important;
		}
	}
	img{
		display: block;
		max-width: 100%;
	}
	em{font-style: italic !important;}
	strong{font-weight: bold;}
	ol{
		list-style: decimal;
	}
	ul{
		list-style: disc;
	}
	ol, ul{
		margin:15px 0;
		list-style-position: inside;
		li{
			.ubuntu(13px);
			color:@cinzaEscuro;
			line-height: 150%;
		}
	}
	a{
		color:@azulEscuro;
		.transition;
		&:active, &:visited{color:@azulEscuro;}
		&:hover{color:@azulClaro;}
	}
	table{
		border-collapse: collapse;
		width:100%;
		.ubuntu(13px);
		color:@cinzaEscuro;
		line-height: 150%;
		tr{
			td{
				padding:4px;
				border:1px @azulEscuro solid;
			}
		}
	}
}

input[type="text"],
input[type="submit"],
input[type="email"],
textarea,
select{
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

#detalhes-politica{
	section{
		.pad{
			padding:20px 0;
			h1{
				.ubuntu(28px);
				color:@azulEscuro;
				line-height:160%;
				margin-bottom: 20px;
			}
		}
	}
}
