@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');
.centro{width:100%;padding:0;margin:0 auto}@media only screen and (min-width:0) and (max-width:320px){.centro{max-width:310px}}@media only screen and (min-width:321px) and (max-width:568px){.centro{max-width:470px}}@media only screen and (min-width: 569px) and (max-width: 1023px){.centro{max-width:740px}}@media only screen and (min-width: 1024px){.centro{max-width:980px}}
.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top}
.aviso{color:#9f6000;background-color:#feefb3;border:2px #9f6000 solid}
.sucesso{border:2px #c6d880 solid;background-color:#e6efc2;color:#264409}
.falha{border:2px #d8000c solid;color:#d8000c;background-color:#ffbaba}
.offscreen{display:block;text-indent:-999999999px}
.clear{clear:both}
.escondido{display:none}
@media only screen and (min-width:768px){.hide-full{display:none !important}}
@media only screen and (max-width:767px){.hide-mobile{display:none !important}}
h1#pagenotfound{display:block;margin:100px 0;text-align:center;color:#000;font-family:'Arial',sans-serif;font-size:30px;font-weight:normal}
.fb-comments-count{max-width:20px;display:inline-block;*display:inline;zoom:1;vertical-align:top}
em{font-style:italic !important}
.shareForm{width:400px}.shareForm h1{display:block;font-family:'Ubuntu',sans-serif;font-size:15px;font-weight:bold;color:#004281;margin:10px 0 20px 0}
.shareForm form h2{font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:normal;color:#818181}
.shareForm form input[type='text'],.shareForm form input[type='email']{display:block;border:1px #cdcdcd solid;color:#818181;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:normal;height:25px;line-height:25px;padding:5px;width:100%;box-sizing:border-box;margin-bottom:5px}.shareForm form input[type='text']::-webkit-input-placeholder,.shareForm form input[type='email']::-webkit-input-placeholder{color:#cdcdcd}
.shareForm form input[type='text']:-moz-placeholder,.shareForm form input[type='email']:-moz-placeholder{color:#cdcdcd}
.shareForm form input[type='text']::-moz-placeholder,.shareForm form input[type='email']::-moz-placeholder{color:#cdcdcd}
.shareForm form input[type='text']:-ms-input-placeholder,.shareForm form input[type='email']:-ms-input-placeholder{color:#cdcdcd}
.shareForm form .submit{height:32px}.shareForm form .submit input[type="submit"]{height:30px;line-height:26px;padding:0 15px;float:right;text-align:center;display:inline-block;*display:inline;zoom:1;vertical-align:top;color:#549dd0;cursor:pointer;border:1px #549dd0 solid;background:#fff;font-family:'Ubuntu',sans-serif;font-size:12px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}.shareForm form .submit input[type="submit"]:hover{background:#004281;color:#fff}
#cboxContent .pedirEmail.alg-l{text-align:left}
#cboxContent .pedirEmail.alg-c{text-align:center}
#cboxContent .pedirEmail h1{line-height:110%;font-family:'Ubuntu',sans-serif;font-size:15px;font-weight:normal;color:#818181;display:block;width:100%}
#cboxContent .pedirEmail form{padding-top:15px}#cboxContent .pedirEmail form input[type='email']{height:35px;line-height:35px;padding:0 10px;margin:0;width:260px;color:#818181;font-family:'Ubuntu',sans-serif;font-size:14px;font-weight:normal;display:inline-block;*display:inline;zoom:1;vertical-align:top}
#cboxContent .pedirEmail form input[type='submit']{width:140px;line-height:35px;text-align:center;color:#549dd0;border:1px #549dd0 solid;background:#fff;display:block;margin:0 0 0 5px;cursor:pointer;font-family:'Ubuntu',sans-serif;font-size:14px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;display:inline-block;*display:inline;zoom:1;vertical-align:top}#cboxContent .pedirEmail form input[type='submit']:hover{background:#004281;color:#fff}
a{text-decoration:none}
ul.pagination li{display:inline-block;*display:inline;zoom:1;vertical-align:top}ul.pagination li.disabled{display:none}
ul.pagination li:last-child{border-right:1px #549dd0 solid}
ul.pagination li a,ul.pagination li span{font-family:'Ubuntu',sans-serif;font-size:14px;font-weight:bold;display:block;width:35px;height:35px;line-height:35px;text-align:center;border-top:1px #549dd0 solid;border-bottom:1px #549dd0 solid;border-left:1px #549dd0 solid;color:#549dd0;background:#fff;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}ul.pagination li a:active,ul.pagination li span:active,ul.pagination li a:visited,ul.pagination li span:visited{color:#549dd0}
ul.pagination li a:hover,ul.pagination li span:hover{color:#fff;background:#549dd0}
ul.pagination li.active span{color:#fff;background:#549dd0}
@media only screen and (min-width: 1024px){html body:before{background:url('../images/layout/icone_noticias-hover.png'),url('../images/layout/icone_eventos-hover.png') center 10px no-repeat,url('../images/layout/icone_carreira-hover.png') center 10px no-repeat,url('../images/layout/icone_enquetes-hover.png') center 10px no-repeat} html body header .faixaAzul{background-color:#004281;height:40px}html body header .faixaAzul .centro .telefone{float:left;height:40px;line-height:40px;color:#fff;padding-left:18px;background:url('../images/layout/icone_telefone.png') left center no-repeat;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:bold}html body header .faixaAzul .centro .telefone span{font-size:10px} html body header .faixaAzul .centro #menuSuperior{float:left;height:40px;line-height:40px;margin-left:55px}html body header .faixaAzul .centro #menuSuperior nav ul{font-size:0}html body header .faixaAzul .centro #menuSuperior nav ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top}html body header .faixaAzul .centro #menuSuperior nav ul li a{font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:bold;height:38px;border-bottom:2px #004281 solid;display:block;padding:0 10px;color:#fff;background:#004281;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaAzul .centro #menuSuperior nav ul li a:active,html body header .faixaAzul .centro #menuSuperior nav ul li a:visited{color:#fff} html body header .faixaAzul .centro #menuSuperior nav ul li a.ativo,html body header .faixaAzul .centro #menuSuperior nav ul li a:hover{color:#3c7daa;background:#fff;border-bottom:2px #e4e4e4 solid} html body header .faixaAzul .centro #buscaSuperior{width:160px;height:40px;float:right}html body header .faixaAzul .centro #buscaSuperior form{width:160px;position:relative;margin-top:7px;height:25px;background:#fff}html body header .faixaAzul .centro #buscaSuperior form input[type="text"]{width:150px;height:19px;line-height:25px;background:#fff;padding:3px 5px;position:absolute;top:0;left:0;z-index:1;border:0} html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]{width:25px;height:25px;overflow:hidden;position:absolute;top:0;right:0;z-index:9;cursor:pointer;border:0;padding:0;text-indent:-1000px;background:url('../images/layout/icone_busca.png') #fff center center no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]:after{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat} html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]:hover{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat} html body header .faixaCinza{height:101px;background:url('../images/layout/bg_menu.png') left top repeat-x}html body header .faixaCinza .centro{font-size:0}html body header .faixaCinza .centro #link-logo{width:242px;height:60px;float:left;margin-top:20px}html body header .faixaCinza .centro #link-logo img{max-width:242px;max-height:60px} html body header .faixaCinza .centro nav{margin-left:90px;float:left}html body header .faixaCinza .centro nav ul.main-menu{padding-top:15px;height:75px}html body header .faixaCinza .centro nav ul.main-menu li{display:inline-block;*display:inline;zoom:1;vertical-align:top;height:75px;line-height:112px;position:relative}html body header .faixaCinza .centro nav ul.main-menu li.ativo a:after{background:#549dd0} html body header .faixaCinza .centro nav ul.main-menu li.ativo+li a:after{background:#549dd0} html body header .faixaCinza .centro nav ul.main-menu li:last-child.ativo a:after{background:#549dd0} html body header .faixaCinza .centro nav ul.main-menu li:last-child.ativo a:before{background:#549dd0} html body header .faixaCinza .centro nav ul.main-menu li>a{padding:0 40px;display:block;color:#818181;position:relative;max-height:100%;font-family:'Ubuntu',sans-serif;font-size:16px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaCinza .centro nav ul.main-menu li>a:active,html body header .faixaCinza .centro nav ul.main-menu li>a:visited{color:#818181} html body header .faixaCinza .centro nav ul.main-menu li>a.ativo,html body header .faixaCinza .centro nav ul.main-menu li>a:hover{color:#3c7daa} html body header .faixaCinza .centro nav ul.main-menu li>a:after{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;content:"";display:block;height:75px;width:1px;background:#e6e6e6;position:absolute;top:0;left:0} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnNoticias{background:url('../images/layout/icone_noticias.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnNoticias:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnNoticias.ativo{background:url('../images/layout/icone_noticias-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEventos{background:url('../images/layout/icone_eventos.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEventos:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEventos.ativo{background:url('../images/layout/icone_eventos-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnCarreira{background:url('../images/layout/icone_carreira.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnCarreira:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnCarreira.ativo{background:url('../images/layout/icone_carreira-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEnquetes{background:url('../images/layout/icone_enquetes.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEnquetes:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEnquetes.ativo{background:url('../images/layout/icone_enquetes-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li:last-child a:before{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;content:"";display:block;height:75px;width:1px;background:#e6e6e6;position:absolute;top:0;right:0} html body header .faixaCinza .centro nav ul.main-menu li.comsub{position:relative;height:86px}html body header .faixaCinza .centro nav ul.main-menu li.comsub .caret{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:7px;height:10px;margin:51px 0 0 5px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;background:url('../images/layout/icone_seta-menu-cinza.png') center center no-repeat}html body header .faixaCinza .centro nav ul.main-menu li.comsub .caret:after{background:url('../images/layout/icone_seta-menu.png') center center no-repeat} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub{border:0;height:0;padding:0;opacity:0;overflow:hidden;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;position:absolute;left:0;top:86px;width:100%;background:#529dd1;z-index:1000;box-sizing:border-box}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li{display:block;height:26px;line-height:26px;position:relative}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a{color:#a0c9e6;padding:0 17px;display:block;position:relative;z-index:999;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:active,html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:visited{color:#a0c9e6} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a.ativo,html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:hover{color:#fff}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a.ativo:after,html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:hover:after{background:url('../images/layout/dropdown_seta.png') right center no-repeat} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:after{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;display:block;content:"";height:26px;background:url('../images/layout/dropdown_linha.png') right center no-repeat;position:absolute;width:75%;left:auto;right:17px;top:0;z-index:-1} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:before{content:"";background:url('../images/layout/dropdown_seta.png') no-repeat} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a span{display:inline-block;*display:inline;zoom:1;vertical-align:top;background:#529dd1;padding:0 10px 0 0} html body header .faixaCinza .centro nav ul.main-menu li.comsub:hover .caret{background:url('../images/layout/icone_seta-menu.png') center center no-repeat} html body header .faixaCinza .centro nav ul.main-menu li.comsub:hover .sub{height:101px;padding:10px 0;border-top:1px #3c7daa solid;border-right:1px #3c7daa solid;border-bottom:2px #3c7daa solid;border-left:1px #3c7daa solid;opacity:1} html body .main{padding:35px 0} html body #bannerInferior{display:block;clear:both;margin-top:40px;min-height:152px}html body #bannerInferior a{min-height:152px;background:transparent !important;display:block}html body #bannerInferior a img{max-width:100%} html body footer{background:#004281;padding:45px 0;height:145px}html body footer .centro nav{padding-top:95px;background:url('../images/layout/footer_logo.png') left top no-repeat}html body footer .centro nav ul.superior li{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:10px}html body footer .centro nav ul.superior li a{display:block;color:#fff;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro nav ul.superior li a:active,html body footer .centro nav ul.superior li a:visited{color:#fff} html body footer .centro nav ul.superior li a:hover{color:#549dd0} html body footer .centro nav ul.inferior{margin-top:12px}html body footer .centro nav ul.inferior li{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:10px}html body footer .centro nav ul.inferior li a{display:block;color:#fff;font-family:'Ubuntu',sans-serif;font-size:16px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro nav ul.inferior li a:active,html body footer .centro nav ul.inferior li a:visited{color:#fff} html body footer .centro nav ul.inferior li a:hover{color:#549dd0} html body footer .centro .assinatura{float:right;margin-top:-140px;text-align:right}html body footer .centro .assinatura .telefone{margin-bottom:15px;color:#fff;font-family:'Ubuntu',sans-serif;font-size:42px;font-weight:normal}html body footer .centro .assinatura .telefone span{font-size:18px} html body footer .centro .assinatura .email{margin-bottom:40px}html body footer .centro .assinatura .email a{font-family:'Ubuntu',sans-serif;font-size:15px;font-weight:normal;color:#fff;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro .assinatura .email a:active,html body footer .centro .assinatura .email a:visited{color:#fff} html body footer .centro .assinatura .email a:hover{color:#549dd0} html body footer .centro .assinatura .copyright{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal} html body footer .centro .assinatura .privacy{margin-bottom:20px;margin-top:-20px}html body footer .centro .assinatura .privacy a{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro .assinatura .privacy a:active,html body footer .centro .assinatura .privacy a:visited{color:#549dd0} html body footer .centro .assinatura .privacy a:hover{color:#fff} html body footer .centro .assinatura .trupe{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal;margin-top:6px}html body footer .centro .assinatura .trupe a{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro .assinatura .trupe a:active,html body footer .centro .assinatura .trupe a:visited{color:#549dd0} html body footer .centro .assinatura .trupe a:hover,html body footer .centro .assinatura .trupe a.ativo{color:#fff} html body footer .centro .assinatura .trupe a img{margin-left:4px;vertical-align:-3px}}@media only screen and (min-width: 569px) and (max-width: 1023px){html body header .faixaAzul{background-color:#004281;height:40px}html body header .faixaAzul .centro .telefone{float:left;height:40px;line-height:40px;color:#fff;padding-left:18px;background:url('../images/layout/icone_telefone.png') left center no-repeat;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:bold}html body header .faixaAzul .centro .telefone span{font-size:10px} html body header .faixaAzul .centro #menuSuperior{float:left;height:40px;line-height:40px;margin-left:15px}html body header .faixaAzul .centro #menuSuperior nav ul{font-size:0}html body header .faixaAzul .centro #menuSuperior nav ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top}html body header .faixaAzul .centro #menuSuperior nav ul li a{font-family:'Ubuntu',sans-serif;font-size:10px;font-weight:bold;height:38px;border-bottom:2px #004281 solid;display:block;padding:0 8px;color:#fff;background:#004281;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaAzul .centro #menuSuperior nav ul li a:active,html body header .faixaAzul .centro #menuSuperior nav ul li a:visited{color:#fff} html body header .faixaAzul .centro #menuSuperior nav ul li a.ativo,html body header .faixaAzul .centro #menuSuperior nav ul li a:hover{color:#3c7daa;background:#fff;border-bottom:2px #e4e4e4 solid} html body header .faixaAzul .centro #buscaSuperior{width:140px;height:40px;float:right}html body header .faixaAzul .centro #buscaSuperior form{width:140px;position:relative;margin-top:7px;height:25px;background:#fff}html body header .faixaAzul .centro #buscaSuperior form input[type="text"]{width:130px;height:19px;line-height:25px;background:#fff;padding:3px 5px;position:absolute;top:0;left:0;z-index:1;border:0} html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]{width:25px;height:25px;overflow:hidden;position:absolute;top:0;right:0;z-index:9;cursor:pointer;border:0;padding:0;text-indent:-1000px;background:url('../images/layout/icone_busca.png') #fff center center no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]:after{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat} html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]:hover{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat} html body header .faixaCinza{height:101px;background:url('../images/layout/bg_menu.png') left top repeat-x}html body header .faixaCinza .centro{font-size:0}html body header .faixaCinza .centro #link-logo{width:210px;float:left;margin-top:20px}html body header .faixaCinza .centro #link-logo img{max-width:210px} html body header .faixaCinza .centro nav{margin-left:42px;float:left}html body header .faixaCinza .centro nav ul.main-menu{padding-top:15px;height:75px}html body header .faixaCinza .centro nav ul.main-menu li{display:inline-block;*display:inline;zoom:1;vertical-align:top;height:75px;line-height:112px;position:relative}html body header .faixaCinza .centro nav ul.main-menu li>a{padding:0 20px;display:block;color:#818181;position:relative;max-height:100%;font-family:'Ubuntu',sans-serif;font-size:16px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaCinza .centro nav ul.main-menu li>a:active,html body header .faixaCinza .centro nav ul.main-menu li>a:visited{color:#818181} html body header .faixaCinza .centro nav ul.main-menu li>a.ativo,html body header .faixaCinza .centro nav ul.main-menu li>a:hover{color:#3c7daa} html body header .faixaCinza .centro nav ul.main-menu li>a:after{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;content:"";display:block;height:75px;width:1px;background:#e6e6e6;position:absolute;top:0;left:0} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnNoticias{background:url('../images/layout/icone_noticias.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnNoticias:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnNoticias.ativo{background:url('../images/layout/icone_noticias-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEventos{background:url('../images/layout/icone_eventos.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEventos:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEventos.ativo{background:url('../images/layout/icone_eventos-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnCarreira{background:url('../images/layout/icone_carreira.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnCarreira:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnCarreira.ativo{background:url('../images/layout/icone_carreira-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEnquetes{background:url('../images/layout/icone_enquetes.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEnquetes:hover,html body header .faixaCinza .centro nav ul.main-menu li>a.linkMnEnquetes.ativo{background:url('../images/layout/icone_enquetes-hover.png') center 10px no-repeat} html body header .faixaCinza .centro nav ul.main-menu li:last-child a:before{content:"";display:block;height:75px;width:1px;background:#e6e6e6;position:absolute;top:0;right:0} html body header .faixaCinza .centro nav ul.main-menu li.comsub{position:relative;height:86px}html body header .faixaCinza .centro nav ul.main-menu li.comsub .caret{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:7px;height:10px;margin:51px 0 0 5px;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;background:url('../images/layout/icone_seta-menu-cinza.png') center center no-repeat}html body header .faixaCinza .centro nav ul.main-menu li.comsub .caret:after{background:url('../images/layout/icone_seta-menu.png') center center no-repeat} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub{border:0;height:0;padding:0;opacity:0;overflow:hidden;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;position:absolute;left:0;top:86px;width:100%;background:#529dd1;z-index:999;box-sizing:border-box}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li{display:block;height:26px;line-height:26px;position:relative}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a{color:#a0c9e6;padding:0 17px;display:block;position:relative;z-index:999;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:active,html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:visited{color:#a0c9e6} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a.ativo,html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:hover{color:#fff}html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a.ativo:after,html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:hover:after{background-color:#fff} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a.ativo:before,html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:hover:before{color:#fff} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:after{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;display:block;content:"";height:1px;width:60%;background-color:#a0c9e6;position:absolute;right:17px;top:15px;z-index:-1} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a:before{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;display:block;content:"→";height:26px;width:15px;font-family:'Ubuntu',sans-serif;font-size:22px;font-weight:normal;color:#a0c9e6;position:absolute;right:17px;z-index:-1;background:none;left:auto;line-height:28px} html body header .faixaCinza .centro nav ul.main-menu li.comsub ul.sub li a span{display:inline-block;*display:inline;zoom:1;vertical-align:top;background:#529dd1;padding:0 10px 0 0} html body header .faixaCinza .centro nav ul.main-menu li.comsub.submenuaberto .caret{background:url('../images/layout/icone_seta-menu.png') center center no-repeat} html body header .faixaCinza .centro nav ul.main-menu li.comsub.submenuaberto .sub{height:101px;padding:10px 0;border-top:1px #3c7daa solid;border-right:1px #3c7daa solid;border-bottom:2px #3c7daa solid;border-left:1px #3c7daa solid;opacity:1} html body .main{padding:35px 0} html body #bannerInferior{margin-top:40px}html body #bannerInferior a{display:block}html body #bannerInferior a img{max-width:100%} html body footer{background:#004281;padding:45px 0;height:145px}html body footer .centro nav{padding-top:95px;background:url('../images/layout/footer_logo.png') left top no-repeat}html body footer .centro nav ul.superior{width:400px}html body footer .centro nav ul.superior li{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:10px}html body footer .centro nav ul.superior li a{display:block;color:#fff;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro nav ul.superior li a:active,html body footer .centro nav ul.superior li a:visited{color:#fff} html body footer .centro nav ul.superior li a:hover{color:#549dd0} html body footer .centro nav ul.inferior{width:300px;margin-top:12px}html body footer .centro nav ul.inferior li{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:10px;margin-bottom:6px}html body footer .centro nav ul.inferior li a{display:block;color:#fff;font-family:'Ubuntu',sans-serif;font-size:16px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro nav ul.inferior li a:active,html body footer .centro nav ul.inferior li a:visited{color:#fff} html body footer .centro nav ul.inferior li a:hover{color:#549dd0} html body footer .centro .assinatura{float:right;margin-top:-165px;text-align:right}html body footer .centro .assinatura .telefone{margin-bottom:15px;color:#fff;font-family:'Ubuntu',sans-serif;font-size:42px;font-weight:normal}html body footer .centro .assinatura .telefone span{font-size:18px} html body footer .centro .assinatura .email{margin-bottom:40px}html body footer .centro .assinatura .email a{font-family:'Ubuntu',sans-serif;font-size:15px;font-weight:normal;color:#fff;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro .assinatura .email a:active,html body footer .centro .assinatura .email a:visited{color:#fff} html body footer .centro .assinatura .email a:hover{color:#549dd0} html body footer .centro .assinatura .copyright{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal} html body footer .centro .assinatura .trupe{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal;margin-top:6px}html body footer .centro .assinatura .trupe a{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro .assinatura .trupe a:active,html body footer .centro .assinatura .trupe a:visited{color:#549dd0} html body footer .centro .assinatura .trupe a:hover,html body footer .centro .assinatura .trupe a.ativo{color:#fff} html body footer .centro .assinatura .trupe a img{margin-left:4px;vertical-align:-3px}}@media only screen and (min-width: 0px) and (max-width: 568px){html body header .faixaAzul{background-color:#004281;height:40px}html body header .faixaAzul .centro .telefone{float:left;height:40px;line-height:40px;color:#fff;padding-left:18px;background:url('../images/layout/icone_telefone.png') left center no-repeat;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:bold}html body header .faixaAzul .centro .telefone span{font-size:10px} html body header .faixaAzul .centro #buscaSuperior{width:160px;height:40px;float:right}html body header .faixaAzul .centro #buscaSuperior form{width:160px;position:relative;margin-top:7px;height:25px;background:#fff}html body header .faixaAzul .centro #buscaSuperior form input[type="text"]{width:150px;height:19px;line-height:25px;background:#fff;padding:3px 5px;position:absolute;top:0;left:0;z-index:1;border:0} html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]{width:25px;height:25px;overflow:hidden;position:absolute;top:0;right:0;z-index:9;cursor:pointer;border:0;padding:0;text-indent:-1000px;background:url('../images/layout/icone_busca.png') #fff center center no-repeat;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]:after{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat} html body header .faixaAzul .centro #buscaSuperior form input[type="submit"]:hover{background:url('../images/layout/icone_busca-hover.png') #fff center center no-repeat} html body header .faixaCinza{height:101px;background:url('../images/layout/bg_menu.png') left top repeat-x}html body header .faixaCinza .centro{position:relative}html body header .faixaCinza .centro #link-logo{width:210px;float:left;margin-top:20px}html body header .faixaCinza .centro #link-logo img{max-width:210px} html body header .faixaCinza .centro #toggleMenuMobile{float:right;height:101px;line-height:101px}html body header .faixaCinza .centro #toggleMenuMobile a{font-family:'Ubuntu',sans-serif;font-size:16px;font-weight:bold;color:#004281;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaCinza .centro #toggleMenuMobile a span:after{-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in;content:"";display:inline-block;*display:inline;zoom:1;vertical-align:top;vertical-align:baseline;width:15px;height:15px;background:url('../images/layout/icone_seta.png') center center no-repeat;-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)} html body header .faixaCinza .centro #toggleMenuMobile a:active,html body header .faixaCinza .centro #toggleMenuMobile a:visited{color:#004281} html body header .faixaCinza .centro #toggleMenuMobile a.subAberto span:after{-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);-o-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg)} html body header .faixaCinza .centro nav#menuMobile{position:absolute;top:101px;left:0;width:100%;background:#003567;height:0;overflow:hidden;z-index:999999999999;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaCinza .centro nav#menuMobile.aberto{height:352px;opacity:1} html body header .faixaCinza .centro nav#menuMobile ul{border-bottom:2px #003567 solid}html body header .faixaCinza .centro nav#menuMobile ul li{height:50px;line-height:50px}html body header .faixaCinza .centro nav#menuMobile ul li a{height:49px;text-transform:uppercase;display:block;background:#004281;color:#fff;text-align:center;border-bottom:1px #003567 solid;font-family:'Ubuntu',sans-serif;font-size:16px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body header .faixaCinza .centro nav#menuMobile ul li a:active,html body header .faixaCinza .centro nav#menuMobile ul li a:visited{color:#fff} html body header .faixaCinza .centro nav#menuMobile ul li a.ativo,html body header .faixaCinza .centro nav#menuMobile ul li a:hover{color:#3c7daa} html body header .faixaCinza .centro nav#menuMobile ul li:nth-child(even) a{border-left:1px #003567 solid} html body .main{padding:35px 0} html body #bannerInferior{margin-top:40px}html body #bannerInferior a{display:block}html body #bannerInferior a img{max-width:100%} html body footer{background:#004281;padding:35px 0}html body footer .centro nav{padding-top:70px;background:url('../images/layout/footer_logo.png') center top no-repeat}html body footer .centro nav ul{text-align:center}html body footer .centro nav ul.superior li{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:10px}html body footer .centro nav ul.superior li a{display:block;color:#fff;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:bold;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro nav ul.superior li a:active,html body footer .centro nav ul.superior li a:visited{color:#fff} html body footer .centro nav ul.superior li a:hover{color:#549dd0} html body footer .centro nav ul.inferior{margin-top:12px}html body footer .centro nav ul.inferior li{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:10px;margin-bottom:6px}html body footer .centro nav ul.inferior li a{display:block;color:#fff;font-family:'Ubuntu',sans-serif;font-size:12px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro nav ul.inferior li a:active,html body footer .centro nav ul.inferior li a:visited{color:#fff} html body footer .centro nav ul.inferior li a:hover{color:#549dd0} html body footer .centro .assinatura{float:none;text-align:center;margin-top:35px}html body footer .centro .assinatura .telefone{margin-bottom:15px;color:#fff;font-family:'Ubuntu',sans-serif;font-size:42px;font-weight:normal}html body footer .centro .assinatura .telefone span{font-size:18px} html body footer .centro .assinatura .email{margin-bottom:40px}html body footer .centro .assinatura .email a{font-family:'Ubuntu',sans-serif;font-size:15px;font-weight:normal;color:#fff;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro .assinatura .email a:active,html body footer .centro .assinatura .email a:visited{color:#fff} html body footer .centro .assinatura .email a:hover{color:#549dd0} html body footer .centro .assinatura .copyright{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal} html body footer .centro .assinatura .trupe{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal;margin-top:6px}html body footer .centro .assinatura .trupe a{color:#549dd0;font-family:'Ubuntu',sans-serif;font-size:11px;font-weight:normal;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}html body footer .centro .assinatura .trupe a:active,html body footer .centro .assinatura .trupe a:visited{color:#549dd0} html body footer .centro .assinatura .trupe a:hover,html body footer .centro .assinatura .trupe a.ativo{color:#fff} html body footer .centro .assinatura .trupe a img{margin-left:4px;vertical-align:-3px}}h1#pagetitle{height:70px;line-height:70px;background:url('../images/layout/bg_titulo.png') left top repeat-x}h1#pagetitle .centro{color:#fff;font-family:'Ubuntu',sans-serif;font-size:32px;font-weight:300}h1#pagetitle .centro small{font-size:15px;color:#004281}
h1#pagetitle .centro .busca{text-transform:uppercase}
.cke{padding-right:30px}@media only screen and (min-width: 0px) and (max-width: 568px){.cke{padding:0 5px}}.cke p{font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:normal;color:#818181;line-height:150%}.cke p.legenda{padding-top:0 !important}
.cke img{display:block;max-width:100%}
.cke em{font-style:italic !important}
.cke strong{font-weight:bold}
.cke ol{list-style:decimal}
.cke ul{list-style:disc}
.cke ol,.cke ul{margin:15px 0;list-style-position:inside}.cke ol li,.cke ul li{font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:normal;color:#818181;line-height:150%}
.cke a{color:#004281;-webkit-transition:all .3s ease-in;-moz-transition:all .3s ease-in;-o-transition:all .3s ease-in;transition:all .3s ease-in}.cke a:active,.cke a:visited{color:#004281}
.cke a:hover{color:#549dd0}
.cke table{border-collapse:collapse;width:100%;font-family:'Ubuntu',sans-serif;font-size:13px;font-weight:normal;color:#818181;line-height:150%}.cke table tr td{padding:4px;border:1px #004281 solid}
input[type="text"],input[type="submit"],input[type="email"],textarea,select{-webkit-appearance:none;-webkit-border-radius:0}
#detalhes-politica section .pad{padding:20px 0}#detalhes-politica section .pad h1{font-family:'Ubuntu',sans-serif;font-size:28px;font-weight:normal;color:#004281;line-height:160%;margin-bottom:20px}
