@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');
.centro {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .centro {
    max-width: 310px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  .centro {
    max-width: 470px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  .centro {
    max-width: 740px;
  }
}
@media only screen and (min-width: 1024px) {
  .centro {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox,
#cboxOverlay,
#cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}
#cboxWrapper {
  max-width: none;
}
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}
#cboxMiddleLeft,
#cboxBottomLeft {
  clear: left;
}
#cboxContent {
  position: relative;
}
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#cboxTitle {
  margin: 0;
}
#cboxLoadingOverlay,
#cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
  cursor: pointer;
}
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
#colorbox,
#cboxContent,
#cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: url('rgba.php/rgba(84,157,208,.85)');
  background: rgba(84, 157, 208, 0.85);
}
#colorbox {
  outline: 0;
}
#colorbox #cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -101px 0;
}
#colorbox #cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -130px 0;
}
#colorbox #cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -101px -29px;
}
#colorbox #cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(images/controls.png) no-repeat -130px -29px;
}
#colorbox #cboxMiddleLeft {
  width: 50px;
  background: url(images/controls.png) left top repeat-y;
}
#colorbox #cboxMiddleRight {
  width: 50px;
  background: url(images/controls.png) right top repeat-y;
}
#colorbox #cboxTopCenter {
  height: 41px;
  background: url(images/border.png) 0 0 repeat-x;
}
#colorbox #cboxBottomCenter {
  height: 21px;
  background: url(images/border.png) 0 -29px repeat-x;
}
#colorbox #cboxContent {
  background: #fff;
  -webkit-box-shadow: 0 0 10px 0 #818181;
  box-shadow: 0 0 10px 0 #818181;
  padding: 35px;
  /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

  /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

}
#colorbox #cboxContent .cboxIframe {
  background: #fff;
}
#colorbox #cboxContent #cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}
#colorbox #cboxContent #cboxLoadedContent {
  /*margin-bottom:28px;*/

}
#colorbox #cboxContent #cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}
#colorbox #cboxContent #cboxCurrent {
  display: none !important;
}
#colorbox #cboxContent #cboxLoadingOverlay {
  background: url(images/loading_background.png) no-repeat center center;
}
#colorbox #cboxContent #cboxLoadingGraphic {
  background: url(images/loading.gif) no-repeat center center;
}
#colorbox #cboxContent #cboxPrevious,
#colorbox #cboxContent #cboxNext,
#colorbox #cboxContent #cboxSlideshow,
#colorbox #cboxContent #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: none;
}
#colorbox #cboxContent #cboxPrevious:active,
#colorbox #cboxContent #cboxNext:active,
#colorbox #cboxContent #cboxSlideshow:active,
#colorbox #cboxContent #cboxClose:active {
  outline: 0;
}
#colorbox #cboxContent #cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}
#colorbox #cboxContent #cboxPrevious {
  position: absolute;
  top: 50%;
  left: -40px;
  background: #fff;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('../images/layout/lightbox_seta-esq.png') #ffffff center center no-repeat;
}
#colorbox #cboxContent #cboxPrevious:focus {
  outline: 0;
}
#colorbox #cboxContent #cboxPrevious:hover {
  background: url('../images/layout/lightbox_seta-esq-hover.png') #ffffff center center no-repeat;
}
#colorbox #cboxContent #cboxNext {
  position: absolute;
  top: 50%;
  right: -40px;
  background: #fff;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url('../images/layout/lightbox_seta-dir.png') #ffffff center center no-repeat;
}
#colorbox #cboxContent #cboxNext:focus {
  outline: 0;
}
#colorbox #cboxContent #cboxNext:hover {
  background: url('../images/layout/lightbox_seta-dir-hover.png') #ffffff center center no-repeat;
}
#colorbox #cboxContent #cboxClose {
  position: absolute;
  top: -38px;
  right: 0;
  background: transparent;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  width: 70px;
  height: 35px;
  border: 1px #fff solid;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
#colorbox #cboxContent #cboxClose:hover {
  border-color: #004281;
  color: #004281;
  background: #fff;
}
