@import 'vars.less';

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{
	background:url('rgba.php/rgba(84,157,208,.85)');
	background:rgba(84,157,208,.85);
}
#colorbox{
	outline:0;
    #cboxTopLeft{
    	width:21px;
    	height:21px;
    	background:url(images/controls.png) no-repeat -101px 0;
    }
    #cboxTopRight{
    	width:21px;
    	height:21px;
    	background:url(images/controls.png) no-repeat -130px 0;
    }
    #cboxBottomLeft{
    	width:21px;
    	height:21px;
    	background:url(images/controls.png) no-repeat -101px -29px;
    }
    #cboxBottomRight{
    	width:21px;
    	height:21px;
    	background:url(images/controls.png) no-repeat -130px -29px;
    }
    #cboxMiddleLeft{
    	width:50px;
    	background:url(images/controls.png) left top repeat-y;
    }
    #cboxMiddleRight{
    	width:50px;
		background:url(images/controls.png) right top repeat-y;
	}
    #cboxTopCenter{
    	height:41px;
		background:url(images/border.png) 0 0 repeat-x;
	}
    #cboxBottomCenter{
    	height:21px;
		background:url(images/border.png) 0 -29px repeat-x;
	}
    #cboxContent{
    	background:#fff;
		//overflow:hidden;
        -webkit-box-shadow: 0 0 10px 0 #818181;
        box-shadow: 0 0 10px 0 #818181;
		padding:35px;
        .cboxIframe{
        	background:#fff;
        }
        #cboxError{
        	padding:50px;
    		border:1px solid #ccc;
    	}
        #cboxLoadedContent{
        	/*margin-bottom:28px;*/
        }
        #cboxTitle{
        	position:absolute;
        	bottom:4px;
        	left:0;
        	text-align:center;
        	width:100%;
        	color:#949494;
        }
        #cboxCurrent{
        	display:none !important;
        }
        #cboxLoadingOverlay{
        	background:url(images/loading_background.png) no-repeat center center;
        }
        #cboxLoadingGraphic{
        	background:url(images/loading.gif) no-repeat center center;
        }

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
        	border:0;
        	padding:0;
        	margin:0;
        	overflow:visible;
        	width:auto;
        	background:none;
    	}
        
        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
        	outline:0;
        }

        #cboxSlideshow{
        	position:absolute;
        	bottom:4px;
        	right:30px;
        	color:#0092ef;
        }
        #cboxPrevious{
        	position:absolute;
        	top:50%;
        	left:-40px;
        	background:#fff;
        	width:40px;
        	height:40px;
        	text-indent:-9999px;
        	-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
            .transition;
            background:url('../images/layout/lightbox_seta-esq.png') #fff center center no-repeat;
            &:focus{outline:0;}
        }
        #cboxPrevious:hover{
         	background:url('../images/layout/lightbox_seta-esq-hover.png') #fff center center no-repeat;
        }
        #cboxNext{
        	position:absolute;
        	top:50%;
        	right:-40px;
        	background:#fff;
        	width:40px;
        	height:40px;
        	text-indent:-9999px;
        	-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
            .transition;
            background:url('../images/layout/lightbox_seta-dir.png') #fff center center no-repeat;
            &:focus{outline:0;}
        }
        #cboxNext:hover{
        	background:url('../images/layout/lightbox_seta-dir-hover.png') #fff center center no-repeat;
        }
        #cboxClose{
        	position:absolute;
        	top:-38px;
        	right:0;
        	background:transparent;
        	color:#fff;
        	.ubuntu(12px);
        	width:70px;
        	height:35px;
        	border:1px #fff solid;
        	text-align:center;
        	.transition;
        }
        #cboxClose:hover{
        	border-color:@azulEscuro;
        	color:@azulEscuro;
            background:#fff;
        }
	}
}