@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');
.centro {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .centro {
    max-width: 310px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  .centro {
    max-width: 470px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  .centro {
    max-width: 740px;
  }
}
@media only screen and (min-width: 1024px) {
  .centro {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body .telefone {
  color: #004281;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: normal;
}
html body .telefone span {
  font-size: 18px;
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  html body .telefone span {
    display: block;
  }
}
html body .email {
  margin-top: 10px;
}
html body .email a {
  color: #004281;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body .email a:active,
html body .email a:visited {
  color: #004281;
}
html body .email a:hover {
  color: #3c7daa;
}
html body .cke {
  margin-bottom: 30px;
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  html body .cke {
    margin-top: 15px;
  }
}
html body form .pad {
  padding-right: 10px;
}
html body form .pad input[type="text"],
html body form .pad input[type="email"] {
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 4px 12px;
  border: 1px #CCCCCC solid;
  box-sizing: border-box;
  color: #A0A0A0;
  margin-bottom: 4px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
html body form .pad input[type="text"]::-webkit-input-placeholder,
html body form .pad input[type="email"]::-webkit-input-placeholder {
  color: #a0a0a0;
}
html body form .pad input[type="text"]:-moz-placeholder,
html body form .pad input[type="email"]:-moz-placeholder {
  color: #a0a0a0;
}
html body form .pad input[type="text"]::-moz-placeholder,
html body form .pad input[type="email"]::-moz-placeholder {
  color: #a0a0a0;
}
html body form .pad input[type="text"]:-ms-input-placeholder,
html body form .pad input[type="email"]:-ms-input-placeholder {
  color: #a0a0a0;
}
html body form .pad select {
  width: 100%;
  display: block;
  height: 42px;
  line-height: 40px;
  padding: 4px 12px;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  margin-bottom: 4px;
  background: #549dd0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
html body form .pad select::-webkit-input-placeholder {
  color: #ffffff;
}
html body form .pad select:-moz-placeholder {
  color: #ffffff;
}
html body form .pad select::-moz-placeholder {
  color: #ffffff;
}
html body form .pad select:-ms-input-placeholder {
  color: #ffffff;
}
html body form textarea {
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 174px;
  padding: 4px 12px;
  resize: none;
  color: #A0A0A0;
  border: 1px #CCCCCC solid;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
html body form textarea::-webkit-input-placeholder {
  color: #a0a0a0;
}
html body form textarea:-moz-placeholder {
  color: #a0a0a0;
}
html body form textarea::-moz-placeholder {
  color: #a0a0a0;
}
html body form textarea:-ms-input-placeholder {
  color: #a0a0a0;
}
html body form .submit {
  margin-top: 10px;
  height: 38px;
}
html body form .submit input[type="submit"] {
  float: right;
  width: 85px;
  line-height: 38px;
  text-align: center;
  color: #549dd0;
  cursor: pointer;
  border: 1px #549dd0 solid;
  background: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body form .submit input[type="submit"]:hover {
  background: #004281;
  color: #fff;
}
