	@import 'vars.less';

html{
	body{
		.telefone{
			color:@azulEscuro;
			.ubuntu(40px);
			span{
				@media @tablet{
					display:block;
				}
				font-size:18px;
			}
		}
		.email{
			margin-top:10px;
			a{
				color:@azulEscuro;
				.ubuntu(18px);
				.transition;
				&:active, &:visited{color:@azulEscuro;}
				&:hover{color:@azulMedio;}
			}
		}
		.cke{
			margin-bottom:30px;
			@media @mobile{
				margin-top:15px;
			}
		}
		form{
			.pad{
				padding-right:10px;
				input[type="text"],
				input[type="email"]{
					width:100%;
					display:block;
					height:40px;
					line-height:40px;
					padding:4px 12px;
					border:1px #CCCCCC solid;
					box-sizing: border-box;
					color:#A0A0A0;
					margin-bottom:4px;
					.ubuntu(13px);
					.placeholder(#A0A0A0);
				}
				select{
					width:100%;
					display:block;
					height:42px;
					line-height:40px;
					padding:4px 12px;
					border:0;
					box-sizing: border-box;
					color:#fff;
					margin-bottom:4px;
					background:@azulClaro;
					.ubuntu(14px, bold);
					.placeholder(#fff);
				}
			}
			textarea{
				box-sizing: border-box;
				width:100%;
				display:block;
				height:174px;
				padding:4px 12px;
				resize:none;
				color:#A0A0A0;
				border:1px #CCCCCC solid;
				.ubuntu(13px);
				.placeholder(#A0A0A0);
			}
			.submit{
				margin-top:10px;
				height:38px;
				input[type="submit"]{
					float:right;
					width:85px;
					line-height:38px;
					text-align:center;
					color:@azulClaro;
					cursor:pointer;
					border:1px @azulClaro solid;
					background: #fff;
					.ubuntu(14px, bold);
					.transition;
					&:hover{
						background:@azulEscuro;
						color:#fff;
					}
				}
			}
		}
	}
}
