@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');
.centro {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .centro {
    max-width: 310px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  .centro {
    max-width: 470px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  .centro {
    max-width: 740px;
  }
}
@media only screen and (min-width: 1024px) {
  .centro {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html body #cboxContent .pedirEmail.alg-l {
  text-align: left;
}
html body #cboxContent .pedirEmail.alg-c {
  text-align: center;
}
html body #cboxContent .pedirEmail h1 {
  line-height: 110%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #818181;
  display: block;
  width: 100%;
}
html body #cboxContent .pedirEmail form {
  padding-top: 15px;
}
html body #cboxContent .pedirEmail form input[type='email'] {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  margin: 0;
  width: 260px;
  color: #818181;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body #cboxContent .pedirEmail form input[type='submit'] {
  width: 140px;
  line-height: 35px;
  text-align: center;
  color: #549dd0;
  border: 1px #549dd0 solid;
  background: #fff;
  display: block;
  margin: 0 0 0 5px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html body #cboxContent .pedirEmail form input[type='submit']:hover {
  background: #004281;
  color: #fff;
}
html body #mostraEnquete .pure-u-1-5 {
  background: #549dd0;
  position: relative;
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  html body #mostraEnquete .pure-u-1-5 {
    min-height: 140px;
  }
}
html body #mostraEnquete .pure-u-1-5 h1 {
  text-align: center;
  padding: 20px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
html body #mostraEnquete .pure-u-1-5 h1 strong {
  font-weight: bold;
}
html body #mostraEnquete .pure-u-1-5 .data {
  line-height: 150%;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #fff;
}
html body #mostraEnquete .pure-u-4-5 {
  background: #f0f0f0;
}
html body #mostraEnquete .pure-u-4-5 .pad {
  padding: 20px;
}
html body #mostraEnquete .pure-u-4-5 .pad h2 {
  line-height: 150%;
  color: #004281;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: bold;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes {
  margin: 15px 0;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes label {
  margin-bottom: 15px;
  min-height: 18px;
  display: block;
  clear: both;
  color: #818181;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes label .styledRadio {
  margin-right: 10px;
  float: left;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes label .styledRadio:focus {
  outline: 0;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes label.radioMarcado {
  color: #004281;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes .porcentagem {
  margin-top: 20px;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes .porcentagem .barra {
  height: 10px;
  width: 100%;
  background: #E1E1E1;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes .porcentagem .barra div {
  height: 10px;
  background: #549dd0;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes .porcentagem .texto {
  margin-top: 10px;
  color: #818181;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes .porcentagem .texto span.porcent {
  font-weight: bold;
  font-size: 14px;
  color: #549dd0;
}
html body #mostraEnquete .pure-u-4-5 .pad .opcoes .porcentagem .texto span.separador {
  margin: 0 5px;
  font-weight: 300;
}
html body #mostraEnquete .pure-u-4-5 .pad .submit {
  height: 40px;
}
html body #mostraEnquete .pure-u-4-5 .pad .submit input[type="submit"] {
  border: 0;
  padding: 0;
  height: 38px;
  line-height: 38px;
  width: 108px;
  text-align: center;
  color: #fff;
  float: left;
  cursor: pointer;
  background: #004281;
  border: 1px #004281 solid;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #mostraEnquete .pure-u-4-5 .pad .submit input[type="submit"]:hover {
  color: #004281;
  background: #f0f0f0;
}
html body #mostraEnquete .pure-u-4-5 .pad .submit a {
  float: left;
  margin-top: 12px;
  margin-left: 15px;
  color: #004281;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #mostraEnquete .pure-u-4-5 .pad .submit a:active,
html body #mostraEnquete .pure-u-4-5 .pad .submit a:visited {
  color: #004281;
}
html body #mostraEnquete .pure-u-4-5 .pad .submit a:hover {
  color: #549dd0;
}
html body #mostraEnquete #backbutton {
  width: 85px;
  line-height: 38px;
  text-align: center;
  color: #549dd0;
  border: 1px #549dd0 solid;
  background: #fff;
  display: block;
  margin: 50px 0 15px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #mostraEnquete #backbutton:hover {
  background: #004281;
  color: #fff;
}
html body #listaHistorico {
  margin: 40px 0;
}
html body #listaHistorico .pure-u-1-2 .pad a {
  padding: 20px 0 25px 0;
  border-top: 1px #818181 solid;
  display: block;
}
html body #listaHistorico .pure-u-1-2 .pad a .data {
  padding-top: 2px;
  color: #818181;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #listaHistorico .pure-u-1-2 .pad a h2 {
  color: #004281;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #listaHistorico .pure-u-1-2 .pad a:active,
html body #listaHistorico .pure-u-1-2 .pad a:visited {
  color: #004281;
}
html body #listaHistorico .pure-u-1-2 .pad a:hover .data,
html body #listaHistorico .pure-u-1-2 .pad a:hover h2 {
  color: #549dd0;
}
html body #listaHistorico .pure-u-1-2:nth-child(even) .pad {
  padding-left: 20px;
}
html body #listaHistorico .pure-u-1-2:nth-child(odd) .pad {
  padding-right: 20px;
}
