@import 'vars.less';

html{
	body{
		#cboxContent{
			.pedirEmail{
				&.alg-l{text-align:left;}
				&.alg-c{text-align:center;}
				h1{
					line-height: 110%;
					.ubuntu(15px);
					color:@cinzaEscuro;
					display:block;
					width:100%;
				}
				form{
					padding-top:15px;
					input[type='email']{
						height:35px;
						line-height:35px;
						padding:0 10px;
						margin:0;
						width:260px;
						color:@cinzaEscuro;
						.ubuntu(14px);
						.inline;
					}
					input[type='submit']{
						width:140px;
						line-height:35px;
						text-align:center;
						color:@azulClaro;
						border:1px @azulClaro solid;
						background: #fff;
						display:block;
						margin:0 0 0 5px;
						cursor:pointer;
						.ubuntu(14px, bold);
						.transition;
						.inline;
						&:hover{
							background:@azulEscuro;
							color:#fff;
						}
					}
				}
			}
		}
		#mostraEnquete{
			.pure-u-1-5{
				background:@azulClaro;
				position:relative;
				@media @mobile{
					min-height:140px;
				}
				h1{
					text-align:center;
					padding:20px;
					color:#fff;
					.ubuntu(18px);
					strong{font-weight: bold;}
				}
				.data{
					line-height: 150%;
					position:absolute;
					bottom:20px;
					left:0;
					width:100%;
					text-align:center;
					.ubuntu(16px);
					color:#fff;
					.mes{}
					.ano{}	
				}
			}
			.pure-u-4-5{
				background:@cinzaClaro;
				.pad{
					padding:20px;
					h2{
						line-height: 150%;
						color:@azulEscuro;
						.ubuntu(18px, bold);
					}
					.opcoes{
						margin:15px 0;
						label{
							margin-bottom:15px;
							min-height: 18px;
							display:block;
							clear:both;
							color:@cinzaEscuro;
							cursor:pointer;
							.ubuntu(13px);
							.transition;
							.styledRadio{
								margin-right:10px;
								float:left;
								&:focus{outline: 0;}
							}
							&.radioMarcado{color:@azulEscuro;}
						}
						.porcentagem{
							margin-top:20px;
							.barra{
								height:10px;
								width:100%;
								background:#E1E1E1;
								div{
									height:10px;
									background:@azulClaro;
								}
							}
							.texto{
								margin-top:10px;
								color:@cinzaEscuro;
								.ubuntu(13px);
								span.porcent{
									font-weight: bold;
									font-size:14px;
									color:@azulClaro;
								}
								span.separador{
									margin:0 5px;
									font-weight: 300;
								}
							}
						}
					}
					.submit{
						height:40px;
						input[type="submit"]{
							border:0;
							padding:0;
							height:38px;
							line-height:38px;
							width:108px;
							text-align: center;
							color:#fff;
							float:left;
							cursor:pointer;
							background:@azulEscuro;
							border:1px @azulEscuro solid;
							.ubuntu(15px, bold);
							.transition;
							&:hover{
								color:@azulEscuro;
								background:@cinzaClaro;
							}
						}
						a{
							float:left;
							margin-top:12px;
							margin-left: 15px;
							color:@azulEscuro;
							.ubuntu(13px);
							.transition;
							&:active, &:visited{color:@azulEscuro;}
							&:hover{color:@azulClaro;}
						}
					}
				}
			}
			#backbutton{
				width:85px;
				line-height:38px;
				text-align:center;
				color:@azulClaro;
				border:1px @azulClaro solid;
				background: #fff;
				display:block;
				margin:50px 0 15px 0;
				.ubuntu(14px, bold);
				.transition;
				&:hover{
					background:@azulEscuro;
					color:#fff;
				}
			}
		}
		#listaHistorico{
			margin:40px 0;
			.pure-u-1-2{
				.pad{
					a{
						padding:20px 0 25px 0;
						border-top:1px @cinzaEscuro solid;
						display:block;
						.data{
							padding-top:2px;
							color:@cinzaEscuro;
							text-transform: uppercase;
							.ubuntu(12px);
							.transition;
						}
						h2{
							color:@azulEscuro;
							.ubuntu(15px, bold);
							.transition;
						}
						&:active, &:visited{color:@azulEscuro;}
						&:hover .data, &:hover h2{color:@azulClaro;}
					}
				}
				&:nth-child(even) .pad{
					padding-left:20px;
				}
				&:nth-child(odd) .pad{
					padding-right:20px;	
				}
			}
		}
	}
}
