@import 'vars.less';

html{
	body{
		#listaEquipe{
			.contemEquipe{
				@media @mobile{width:100%;}
				@media @tablet{width:49.9%;}
				@media @desktop{width:49.9%;}				
				.equipe{
					&.pad-0{ padding-right:20px }
					&.pad-1{ padding:0 13px }
					&.pad-2{ padding-left:20px }
					@media @mobile{max-width: 100%;}
					@media @tablet{max-width: 100%;}
					@media @desktop{max-width: 100%;}					
					margin-bottom:30px;
					img{
						width:100%;
						max-width: 300px;
						display:block;
						margin:0 auto 20px auto;
					}
					h1{
						color:@azulEscuro;
						.ubuntu(16px, bold);
						line-height: 155%;
					}
					h2{
						color:@cinzaEscuro;
						.ubuntu(14px);
						font-style: italic;
						line-height: 155%;
					}
					.email{
						a{
							line-height: 155%;
							padding-left:20px;
							background: url('../images/layout/icone_email.png') left center no-repeat;
							color:@azulClaro;
							.ubuntu(13px);
							.transition;
							&:active, &:visited{color:@azulClaro;}
							&:hover{color:@azulEscuro}
						}
					}
					.cke{
						p{
							margin:15px 0;
						}
						border-bottom: 1px @cinzaMedio solid;
					}			
				}		
			}
		}
	}
}
