@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');
.centro {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .centro {
    max-width: 310px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  .centro {
    max-width: 470px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  .centro {
    max-width: 740px;
  }
}
@media only screen and (min-width: 1024px) {
  .centro {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  html body #listaEquipe .contemEquipe {
    width: 100%;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  html body #listaEquipe .contemEquipe {
    width: 49.9%;
  }
}
@media only screen and (min-width: 1024px) {
  html body #listaEquipe .contemEquipe {
    width: 49.9%;
  }
}
html body #listaEquipe .contemEquipe .equipe {
  margin-bottom: 30px;
}
html body #listaEquipe .contemEquipe .equipe.pad-0 {
  padding-right: 20px;
}
html body #listaEquipe .contemEquipe .equipe.pad-1 {
  padding: 0 13px;
}
html body #listaEquipe .contemEquipe .equipe.pad-2 {
  padding-left: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  html body #listaEquipe .contemEquipe .equipe {
    max-width: 100%;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  html body #listaEquipe .contemEquipe .equipe {
    max-width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  html body #listaEquipe .contemEquipe .equipe {
    max-width: 100%;
  }
}
html body #listaEquipe .contemEquipe .equipe img {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto 20px auto;
}
html body #listaEquipe .contemEquipe .equipe h1 {
  color: #004281;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 155%;
}
html body #listaEquipe .contemEquipe .equipe h2 {
  color: #818181;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  line-height: 155%;
}
html body #listaEquipe .contemEquipe .equipe .email a {
  line-height: 155%;
  padding-left: 20px;
  background: url('../images/layout/icone_email.png') left center no-repeat;
  color: #549dd0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html body #listaEquipe .contemEquipe .equipe .email a:active,
html body #listaEquipe .contemEquipe .equipe .email a:visited {
  color: #549dd0;
}
html body #listaEquipe .contemEquipe .equipe .email a:hover {
  color: #004281;
}
html body #listaEquipe .contemEquipe .equipe .cke {
  border-bottom: 1px #cdcdcd solid;
}
html body #listaEquipe .contemEquipe .equipe .cke p {
  margin: 15px 0;
}
