@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');
.centro {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .centro {
    max-width: 310px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  .centro {
    max-width: 470px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  .centro {
    max-width: 740px;
  }
}
@media only screen and (min-width: 1024px) {
  .centro {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
html .main #banners {
  width: 635px;
  height: 360px;
  overflow: hidden;
  position: relative;
}
html .main #banners .animate {
  width: 635px;
  height: 360px;
  position: relative;
}
html .main #banners .animate .banner {
  width: 635px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
}
html .main #banners .animate .banner img {
  position: absolute;
  top: 0;
  left: 0;
}
html .main #banners .animate .banner .texto {
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 18px 22px;
  background: url('rgba.php/rgba(84,157,208,.85)');
  background: rgba(84, 157, 208, 0.85);
  color: #fff;
  line-height: 130%;
  max-width: 360px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #banners .animate .banner:hover .texto {
  background-color: #004281;
}
html .main #banners #controls {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0;
  z-index: 999;
}
html .main #banners #controls a {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: #004281;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #banners #controls a:hover {
  background: #3c7daa;
}
html .main #banners #controls a.activeSlide {
  height: 30px;
  background: #3c7daa;
}
html .main #enquete {
  width: 310px;
  height: 360px;
  overflow: hidden;
  float: right;
  background: #f0f0f0;
}
html .main #enquete h1 {
  height: 40px;
  line-height: 40px;
  background: #549dd0;
  color: #fff;
  padding: 0 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
html .main #enquete h1 a {
  color: #A9CEE8;
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #enquete h1 a:active,
html .main #enquete h1 a:visited {
  color: #A9CEE8;
}
html .main #enquete h1 a:hover {
  color: #fff;
}
html .main #enquete .corpo {
  padding: 20px;
}
html .main #enquete .corpo .questao {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #004281;
  line-height: 120%;
}
html .main #enquete .corpo .resultados {
  height: 255px;
  overflow: hidden;
}
html .main #enquete .corpo .porcentagem {
  margin-top: 20px;
}
html .main #enquete .corpo .porcentagem .barra {
  height: 5px;
  width: 100%;
  background: #E1E1E1;
}
html .main #enquete .corpo .porcentagem .barra div {
  height: 5px;
  background: #549dd0;
}
html .main #enquete .corpo .porcentagem .texto {
  margin-top: 8px;
  color: #818181;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html .main #enquete .corpo .porcentagem .texto span.porcent {
  font-weight: bold;
  font-size: 13px;
  color: #549dd0;
}
html .main #enquete .corpo .porcentagem .texto span.separador {
  margin: 0 5px;
  font-weight: 300;
}
html .main #enquete .corpo form {
  margin: 15px 0 0 0;
}
html .main #enquete .corpo form .opcoes label {
  margin-bottom: 15px;
  min-height: 18px;
  display: block;
  clear: both;
  color: #818181;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #enquete .corpo form .opcoes label .styledRadio {
  margin-right: 10px;
  float: left;
}
html .main #enquete .corpo form .opcoes label .styledRadio:focus {
  outline: 0;
}
html .main #enquete .corpo form .opcoes label.radioMarcado {
  color: #004281;
}
html .main #enquete .corpo form .submit {
  height: 40px;
}
html .main #enquete .corpo form .submit input[type="submit"] {
  border: 0;
  padding: 0;
  height: 38px;
  line-height: 38px;
  width: 108px;
  text-align: center;
  color: #fff;
  float: left;
  cursor: pointer;
  background: #004281;
  border: 1px #004281 solid;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #enquete .corpo form .submit input[type="submit"]:hover {
  color: #004281;
  background: #f0f0f0;
}
html .main #enquete .corpo form .submit a {
  float: left;
  margin-top: 12px;
  margin-left: 15px;
  color: #004281;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #enquete .corpo form .submit a:active,
html .main #enquete .corpo form .submit a:visited {
  color: #004281;
}
html .main #enquete .corpo form .submit a:hover {
  color: #549dd0;
}
html .main #destaques {
  margin-top: 35px;
}
html .main #destaques .chamada {
  width: 470px;
  height: 300px;
  position: relative;
  display: block;
}
html .main #destaques .chamada.chamada-0 {
  float: left;
}
html .main #destaques .chamada.chamada-1 {
  float: right;
}
html .main #destaques .chamada img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
html .main #destaques .chamada .play {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url('../images/layout/icone_play-large.png') #004281 center center no-repeat;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #destaques .chamada .overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: url('rgba.php/rgba(0,66,129,.85)');
  background: rgba(0, 66, 129, 0.85);
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 110px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #destaques .chamada .overlay .linha {
  height: 25px;
  margin-bottom: 10px;
}
html .main #destaques .chamada .overlay .linha .labelCategoria {
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  background: #549dd0;
  color: #fff;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #destaques .chamada .overlay .linha .float-r {
  float: right;
}
html .main #destaques .chamada .overlay .linha .data {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
  background: url('../images/layout/icone_data-branco.png') left center no-repeat;
}
html .main #destaques .chamada .overlay .linha .comentarios {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin-left: 15px;
  height: 25px;
  line-height: 25px;
  padding-left: 20px;
  background: url('../images/layout/icone_comentarios-branco.png') left center no-repeat;
}
html .main #destaques .chamada .overlay .texto {
  color: #fff;
  line-height: 130%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
html .main #destaques .chamada:hover .linha .labelCategoria {
  background: #004281;
}
html .main #destaques .chamada:hover .overlay {
  background: url('rgba.php/rgba(84,157,208,.85)');
  background: rgba(84, 157, 208, 0.85);
}
html .main #destaques .chamada:hover .play {
  background-color: #549dd0;
}
html .main #listaLinks {
  margin-top: 35px;
}
html .main #listaLinks .pad-r {
  padding-right: 18px;
}
html .main #listaLinks .pad-l {
  padding-left: 17px;
}
html .main #listaLinks a {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #listaLinks a .capa {
  margin-right: 20px;
  float: left;
  position: relative;
}
html .main #listaLinks a .capa .play {
  position: absolute;
  background: url('rgba.php/rgba(0,66,129,.85)');
  background: rgba(0, 66, 129, 0.85);
  width: 40px;
  height: 40px;
  z-index: 999;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #listaLinks a .capa .play:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/layout/icone_play-large.png') center center no-repeat;
}
html .main #listaLinks a .miolo .labelCategoria {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  background: #549dd0;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  margin-bottom: 15px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html .main #listaLinks a .miolo .labelCategoria.complay:after {
  position: absolute;
  top: 0;
  right: -26px;
  content: "";
  width: 25px;
  height: 25px;
  margin-left: 1px;
  background: url('../images/layout/icone_play-small.png') #004281 center center no-repeat;
}
html .main #listaLinks a .miolo h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #004281;
  line-height: 120%;
  margin-bottom: 7px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #listaLinks a .miolo h2 {
  color: #818181;
  line-height: 120%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #listaLinks a .miolo .barra-inferior,
html .main #listaLinks a .miolo .barra-superior {
  height: 30px;
  line-height: 30px;
}
html .main #listaLinks a .miolo .barra-inferior .data,
html .main #listaLinks a .miolo .barra-superior .data {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #818181;
  padding-left: 20px;
  background: url('../images/layout/icone_data.png') left center no-repeat;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html .main #listaLinks a .miolo .barra-inferior .comentarios,
html .main #listaLinks a .miolo .barra-superior .comentarios {
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #818181;
  padding-left: 20px;
  background: url('../images/layout/icone_comentarios.png') left center no-repeat;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
html .main #listaLinks a .miolo .barra-inferior .comentarios strong,
html .main #listaLinks a .miolo .barra-superior .comentarios strong {
  font-weight: bold;
}
html .main #listaLinks a.link-pequeno {
  min-height: 95px;
  margin-bottom: 20px;
  clear: both;
}
html .main #listaLinks a.link-pequeno .barra-inferior {
  display: none;
}
html .main #listaLinks a.link-pequeno h2 {
  display: none;
}
html .main #listaLinks a.link-pequeno .capa {
  margin-right: 10px;
  width: 95px;
  height: 95px;
}
html .main #listaLinks a.link-pequeno .capa img {
  max-height: 95px;
  max-width: 95px;
  position: absolute;
  top: 0;
  left: 0;
}
html .main #listaLinks a.link-pequeno .capa .play {
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
html .main #listaLinks a.link-pequeno .barra-superior {
  height: 22px;
  line-height: 110%;
}
html .main #listaLinks a.link-pequeno .barra-superior .data {
  margin-right: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
html .main #listaLinks a.link-pequeno .barra-superior .comentarios {
  margin-left: 0px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
html .main #listaLinks a.link-medio {
  clear: both;
  margin-bottom: 40px;
  border-bottom: 1px #cdcdcd solid;
  min-height: 110px;
}
@media only screen and (min-width: 1024px) {
  html .main #listaLinks a.link-medio.comimagem {
    padding-left: 110px;
  }
  html .main #listaLinks a.link-medio.comimagem .capa {
    margin-left: -110px;
  }
}
html .main #listaLinks a.link-medio .barra-superior {
  display: none;
}
html .main #listaLinks a.link-medio h2 {
  display: none;
}
html .main #listaLinks a.link-medio .capa {
  margin-right: 10px;
  width: 110px;
  height: 110px;
}
html .main #listaLinks a.link-medio .capa img {
  max-height: 110px;
  max-width: 110px;
  position: absolute;
  top: 0;
  left: 0;
}
html .main #listaLinks a.link-medio .capa .play {
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
html .main #listaLinks a.link-medio .barra-inferior {
  min-height: 22px;
  line-height: 110%;
  padding-bottom: 7px;
}
html .main #listaLinks a.link-medio .barra-inferior .data {
  display: block;
  margin-left: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
html .main #listaLinks a.link-medio .barra-inferior .comentarios {
  display: block;
  margin-left: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: normal;
}
html .main #listaLinks a.link-grande {
  clear: both;
  margin-bottom: 46px;
  border-bottom: 1px #cdcdcd solid;
}
html .main #listaLinks a.link-grande.comimagem {
  min-height: 180px;
}
html .main #listaLinks a.link-grande .barra-superior {
  display: none;
}
html .main #listaLinks a.link-grande .capa .play {
  top: 0;
  right: 0;
}
html .main #listaLinks a:hover .capa .play {
  background: url('rgba.php/rgba(84,157,208,.85)');
  background: rgba(84, 157, 208, 0.85);
}
html .main #listaLinks a:hover .miolo h1,
html .main #listaLinks a:hover .miolo h2 {
  color: #549dd0;
}
html .main #listaLinks #formNewsletter h1 {
  background: #004281;
  color: #fff;
  text-align: center;
  height: 42px;
  line-height: 42px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
html .main #listaLinks #formNewsletter form {
  padding: 20px;
  background: #f0f0f0;
}
html .main #listaLinks #formNewsletter form input[type="text"],
html .main #listaLinks #formNewsletter form input[type="email"] {
  background: #f0f0f0;
  margin: 0;
  padding: 5px;
  border: 1px #818181 solid;
  color: #818181;
  height: 29px;
  line-height: 17px;
  display: block;
  width: 98%;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
}
html .main #listaLinks #formNewsletter form input[type="text"]:first-child,
html .main #listaLinks #formNewsletter form input[type="email"]:first-child {
  margin-bottom: 3px;
}
html .main #listaLinks #formNewsletter form input[type="submit"] {
  display: block;
  height: 100%;
  width: 100%;
  border: 0;
  height: 61px;
  cursor: pointer;
  background: #004281;
  color: #fff;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
html .main #listaLinks #formNewsletter form input[type="submit"]:hover {
  background: #549dd0;
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  html body .main * {
    max-width: 100%;
  }
  html body .main #banners {
    width: 100%;
    height: auto;
  }
  html body .main #banners .animate {
    width: 100%;
    height: auto;
  }
  html body .main #banners .animate .banner {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  html body .main #banners .animate .banner img {
    display: block;
    position: relative;
    float: left;
  }
  html body .main #banners .animate .banner .texto {
    position: relative;
    display: block;
    clear: left;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    max-width: 100%;
    background: #549dd0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body .main #banners #controls {
    display: none;
  }
  html body .main #enquete {
    width: auto;
    float: none;
    margin-top: 15px;
  }
  html body .main #destaques {
    margin-top: 0px;
  }
  html body .main #destaques .chamada {
    height: auto;
    margin-top: 15px;
  }
  html body .main #destaques .chamada.chamada-0 {
    float: none;
  }
  html body .main #destaques .chamada.chamada-1 {
    float: none;
  }
  html body .main #destaques .chamada img {
    float: left;
    position: relative;
  }
  html body .main #destaques .chamada .overlay {
    clear: both;
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
    background: #004281;
  }
  html body .main #destaques .chamada .overlay .linha {
    height: auto;
  }
  html body .main #destaques .chamada .overlay .linha .labelCategoria {
    float: left;
  }
  html body .main #destaques .chamada .overlay .linha .float-r {
    float: none !important;
    display: block;
    clear: left;
  }
  html body .main #listaLinks .pad-r {
    padding-right: 0px;
  }
  html body .main #listaLinks .pad-l {
    padding-left: 0px;
  }
  html body .main #listaLinks a {
    display: block;
    margin-bottom: 10px !important;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    min-height: 110px !important;
    margin-bottom: 10px;
    clear: both;
    border-bottom: 1px #cdcdcd solid;
  }
  html body .main #listaLinks a .capa {
    display: none;
  }
  html body .main #listaLinks a .miolo .labelCategoria {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    background: #549dd0;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin-bottom: 15px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body .main #listaLinks a .miolo .labelCategoria.complay:after {
    position: absolute;
    top: 0;
    right: -26px;
    content: "";
    width: 25px;
    height: 25px;
    margin-left: 1px;
    background: url('../images/layout/icone_play-small.png') #004281 center center no-repeat;
  }
  html body .main #listaLinks a .miolo h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #004281;
    line-height: 120%;
    margin-bottom: 7px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body .main #listaLinks a .miolo h2 {
    display: block;
    color: #818181;
    line-height: 120%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body .main #listaLinks a .miolo .barra-superior {
    display: none;
  }
  html body .main #listaLinks a .miolo .barra-inferior {
    display: block;
    height: 30px;
    line-height: 30px;
  }
  html body .main #listaLinks a .miolo .barra-inferior .data {
    font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #818181;
    padding-left: 18px;
    background: url('../images/layout/icone_data.png') left center no-repeat;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body .main #listaLinks a .miolo .barra-inferior .comentarios {
    margin-left: 2px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #818181;
    padding-left: 18px;
    background: url('../images/layout/icone_comentarios.png') left center no-repeat;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
  }
  html body .main #listaLinks a .miolo .barra-inferior .comentarios strong {
    font-weight: bold;
  }
  html body .main #listaLinks a .barra-superior {
    display: none;
  }
  html body .main #listaLinks a:hover .capa .play {
    background: url('rgba.php/rgba(84,157,208,.85)');
    background: rgba(84, 157, 208, 0.85);
  }
  html body .main #listaLinks a:hover .miolo h1,
  html body .main #listaLinks a:hover .miolo h2 {
    color: #549dd0;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  html body .main * {
    max-width: 100%;
  }
  html body .main #banners {
    width: 100%;
    height: auto;
  }
  html body .main #banners .animate {
    width: 100%;
    height: auto;
  }
  html body .main #banners .animate .banner {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  html body .main #banners .animate .banner img {
    width: 100%;
    display: block;
    position: relative;
    float: left;
  }
  html body .main #banners .animate .banner .texto {
    position: relative;
    display: block;
    clear: left;
    left: 0px;
    bottom: 0px;
    padding: 10px;
    max-width: 100%;
    background: #549dd0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: normal;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  html body .main #banners #controls {
    display: none;
  }
  html body .main #enquete {
    width: auto;
    float: none;
    margin-top: 15px;
  }
  html body .main #destaques {
    margin-top: 0px;
  }
  html body .main #destaques .pad-tablet-0 {
    padding-right: 10px;
  }
  html body .main #destaques .pad-tablet-1 {
    padding-left: 10px;
  }
  html body .main #destaques .chamada {
    height: auto;
    margin-top: 15px;
  }
  html body .main #destaques .chamada.chamada-0 {
    float: none;
  }
  html body .main #destaques .chamada.chamada-1 {
    float: none;
  }
  html body .main #destaques .chamada img {
    float: left;
    position: relative;
  }
  html body .main #destaques .chamada .overlay {
    clear: both;
    position: relative;
    left: 0;
    bottom: 0;
    display: block;
    background: #004281;
  }
  html body .main #destaques .chamada .overlay .linha {
    height: auto;
  }
  html body .main #destaques .chamada .overlay .linha .labelCategoria {
    float: left;
  }
  html body .main #destaques .chamada .overlay .linha .float-r {
    float: none !important;
    display: block;
    clear: left;
  }
  html body .main #listaLinks a {
    border-bottom: none !important;
  }
  html body .main #listaLinks .pad-l {
    padding-left: 0px;
  }
}
