@import 'vars.less';

html{
	.main{
		#banners{
			width:635px;
			height:360px;
			overflow: hidden;
			position: relative;
			.animate{
				width:635px;
				height:360px;
				position: relative;
				.banner{
					width:635px;
					height:360px;
					position: absolute;
					top:0;
					left:0;
					img{
						position: absolute;
						top:0;
						left:0;
					}
					.texto{
						position:absolute;
						left:20px;
						bottom:20px;
						padding:18px 22px;
						background:url('rgba.php/rgba(84,157,208,.85)');
						background:rgba(84,157,208,.85);
						color:#fff;
						line-height:130%;
						max-width:360px;
						.ubuntu(28px);
						.transition;
					}
					&:hover .texto{background-color:@azulEscuro;}
				}
			}
			#controls{
				position: absolute;
				top:20px;
				right:20px;
				font-size: 0;
				z-index:999;
				a{
					width:20px;
					height:20px;
					margin-left:10px;
					background:@azulEscuro;
					.inline;
					.transition;
					&:hover{background:@azulMedio;}
					&.activeSlide{
						height:30px;
						background:@azulMedio;
					}
				}
			}
		}
		#enquete{
			width:310px;
			height:360px;
			overflow:hidden;
			float:right;
			background:@cinzaClaro;
			h1{
				height:40px;
				line-height:40px;
				background:@azulClaro;
				color:#fff;
				padding:0 20px;
				.ubuntu(18px);
				a{
					color:#A9CEE8;
					float:right;
					.ubuntu(13px);
					.transition;
					&:active, &:visited{color:#A9CEE8;}
					&:hover{color:#fff;}
				}
			}
			.corpo{
				padding:20px;
				.questao{
					.ubuntu(15px, bold);
					color:@azulEscuro;
					line-height:120%;
				}
				.resultados{
					height:255px;
					overflow:hidden;
				}
				.porcentagem{
					margin-top:20px;
					.barra{
						height:5px;
						width:100%;
						background:#E1E1E1;
						div{
							height:5px;
							background:@azulClaro;
						}
					}
					.texto{
						margin-top:8px;
						color:@cinzaEscuro;
						.ubuntu(12px);
						span.porcent{
							font-weight: bold;
							font-size:13px;
							color:@azulClaro;
						}
						span.separador{
							margin:0 5px;
							font-weight: 300;
						}
					}
				}
				form{
					margin:15px 0 0 0;
					.opcoes{
						label{
							margin-bottom:15px;
							min-height: 18px;
							display:block;
							clear:both;
							color:@cinzaEscuro;
							cursor:pointer;
							.ubuntu(13px);
							.transition;
							.styledRadio{
								margin-right:10px;
								float:left;
								&:focus{outline: 0;}
							}
							&.radioMarcado{color:@azulEscuro;}
						}
					}
					.submit{
						height:40px;
						input[type="submit"]{
							border:0;
							padding:0;
							height:38px;
							line-height:38px;
							width:108px;
							text-align: center;
							color:#fff;
							float:left;
							cursor:pointer;
							background:@azulEscuro;
							border:1px @azulEscuro solid;
							.ubuntu(15px, bold);
							.transition;
							&:hover{
								color:@azulEscuro;
								background:@cinzaClaro;
							}
						}
						a{
							float:left;
							margin-top:12px;
							margin-left: 15px;
							color:@azulEscuro;
							.ubuntu(13px);
							.transition;
							&:active, &:visited{color:@azulEscuro;}
							&:hover{color:@azulClaro;}
						}
					}
				}
			}
		}
		#destaques{
			margin-top:35px;
			.chamada{
				width:470px;
				height:300px;
				position:relative;
				display:block;
				&.chamada-0{ float:left; }
				&.chamada-1{ float:right; }
				img{
					position:absolute;
					top:0;
					left:0;
					z-index:0;
				}
				.play{
					width:40px;
					height:40px;
					position:absolute;
					top:20px;
					right: 20px;
					background:url('../images/layout/icone_play-large.png') @azulEscuro center center no-repeat;
					z-index:999;
					.transition;
				}
				.overlay{
					position:absolute;
					left:0;
					bottom:0;
					z-index:1;
					background:url('rgba.php/rgba(0,66,129,.85)');
					background:rgba(0,66,129,.85);
					padding:20px;
					box-sizing:border-box;
					width:100%;
					min-height: 110px;
					.transition;
					.linha{
						height:25px;
						margin-bottom:10px;
						.labelCategoria{
							padding:0 10px;
							height:25px;
							line-height:25px;
							background:@azulClaro;
							color:#fff;
							.inline;
							.ubuntu(12px);
							.transition;
						}
						.float-r{ float:right; }
						.data{
							.inline;
							color:#fff;
							.ubuntu(12px);
							height:25px;
							line-height:25px;
							padding-left: 20px;
							background:url('../images/layout/icone_data-branco.png') left center no-repeat;
						}
						.comentarios{
							.inline;
							color:#fff;
							.ubuntu(12px);
							margin-left:15px;
							height:25px;
							line-height:25px;
							padding-left: 20px;
							background:url('../images/layout/icone_comentarios-branco.png') left center no-repeat;
						}
					}
					.texto{
						color:#fff;
						line-height:130%;
						.ubuntu(16px, bold);
					}
				}
				&:hover{
					.linha .labelCategoria{background:@azulEscuro;}
					.overlay{
						background:url('rgba.php/rgba(84,157,208,.85)');
						background:rgba(84,157,208,.85);
					}
					.play{background-color: @azulClaro;}
				}
			}
		}
		#listaLinks{
			.pad-r{padding-right:18px;}
			.pad-l{padding-left:17px;}
			margin-top:35px;
			a{
				display:block;
				.capa{
					margin-right:20px;
					float:left;
					position:relative;
					img{}
					.play{
						position:absolute;
						background:url('rgba.php/rgba(0,66,129,.85)');
						background:rgba(0,66,129,.85);
						width:40px;
						height:40px;
						z-index:999;
						.transition;
						&:after{
							content:'';
							position:absolute;
							width:40px;
							height:40px;
							top:0;
							left:0;
							width:100%;
							height:100%;
							background:url('../images/layout/icone_play-large.png') center center no-repeat;
						}
					}
				}
				.miolo{
					.labelCategoria{
						.ubuntu(12px);
						color:#fff;
						background:@azulClaro;
						height:25px;
						line-height:25px;
						padding:0 10px;
						margin-bottom:15px;
						text-transform:uppercase;
						position:relative;
						.inline;
						&.complay{
							&:after{
								position:absolute;
								top:0;
								right:-26px;
								content:"";
								width:25px;
								height:25px;
								margin-left:1px;
								background:url('../images/layout/icone_play-small.png') @azulEscuro center center no-repeat;								
							}
						}
					}
					h1{
						.ubuntu(14px, bold);
						color:@azulEscuro;
						line-height: 120%;
						margin-bottom: 7px;
						.transition;
					}
					h2{
						color:@cinzaEscuro;
						line-height: 120%;
						.ubuntu(12px);
						.transition;
					}
					.barra-inferior,
					.barra-superior{
						height:30px;
						line-height:30px;
						.data{
							.ubuntu(12px);
							color:@cinzaEscuro;
							padding-left:20px;
							background:url('../images/layout/icone_data.png') left center no-repeat;
							.inline;
						}
						.comentarios{
							strong{font-weight: bold;}
							margin-left:20px;
							.ubuntu(12px);
							color:@cinzaEscuro;
							padding-left:20px;
							background:url('../images/layout/icone_comentarios.png') left center no-repeat;
							.inline;
						}	
					}
				}
				.transition;
				&:active, &:visited{}
				&.link-pequeno{
					min-height: 95px;
					margin-bottom:20px;
					clear:both;
					.barra-inferior{display:none;}
					h2{display:none;}
					.capa{
						margin-right:10px;
						width:95px;
						height:95px;
						img{
							max-height: 95px;
							max-width: 95px;
							position:absolute;
							top:0;
							left:0;
						}
						.play{
							top:50%;
							left:50%;
							-moz-transform: translateX(-50%) translateY(-50%);
							-webkit-transform: translateX(-50%) translateY(-50%);
							-o-transform: translateX(-50%) translateY(-50%);
							-ms-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
						}
					}
					.barra-superior{
						height:22px;
						line-height:110%;
						.data{
							margin-right:10px;
							.ubuntu(11px);							
						}
						.comentarios{
							margin-left:0px;
							.ubuntu(11px);							
						}	
					}
				}
				&.link-medio{
					clear:both;
					margin-bottom:40px;
					border-bottom:1px @cinzaMedio solid;
					min-height:110px;
					@media @desktop{
						&.comimagem{
							padding-left:110px;
							.capa{
								margin-left:-110px;							
							}
						}
					}
					.barra-superior{display:none;}
					h2{display:none;}
					.capa{
						margin-right:10px;
						width:110px;
						height:110px;
						img{
							max-height: 110px;
							max-width: 110px;
							position:absolute;
							top:0;
							left:0;
						}
						.play{
							top:50%;
							left:50%;
							-moz-transform: translateX(-50%) translateY(-50%);
							-webkit-transform: translateX(-50%) translateY(-50%);
							-o-transform: translateX(-50%) translateY(-50%);
							-ms-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
						}
					}
					.barra-inferior{
						min-height:22px;
						line-height:110%;
						padding-bottom:7px;
						.data{
							display:block;
							margin-left:10px;
							.ubuntu(11px);							
						}
						.comentarios{
							display:block;
							margin-left:10px;
							.ubuntu(11px);							
						}	
					}
				}
				&.link-grande{
					clear:both;
					margin-bottom:46px;
					border-bottom:1px @cinzaMedio solid;
					&.comimagem{min-height:180px;}
					.barra-superior{display:none;}
					.capa .play{
						top:0;
						right:0;
					}
				}
				&:hover{
					.capa .play{
						background:url('rgba.php/rgba(84,157,208,.85)');
						background:rgba(84,157,208,.85);
					}
					.miolo h1, .miolo h2{color:@azulClaro;}
				}
			}
			#formNewsletter{
				h1{
					background: @azulEscuro;
					color:#fff;
					text-align:center;
					height:42px;
					line-height:42px;
					.ubuntu(14px);
				}
				form{
					padding:20px;
					background:@cinzaClaro;
					input[type="text"],
					input[type="email"]{
						background:@cinzaClaro;
						margin:0;
						&:first-child{margin-bottom:3px;}
						padding:5px;
						border:1px @cinzaEscuro solid;
						color:@cinzaEscuro;
						height:29px;
						line-height:17px;
						display:block;
						width:98%;
						box-sizing:border-box;
						.ubuntu(12px);
					}
					input[type="submit"]{
						display:block;
						height:100%;
						width:100%;
						border:0;
						height:61px;
						cursor:pointer;
						background:@azulEscuro;
						color:#fff;
						text-align: center;
						.ubuntu(18px, bold);
						.transition;
						&:hover{
							background:@azulClaro;
						}
					}
				}
			}
		}
	}
}

@media @mobile{
	html body .main{
		*{max-width:100%;}
		//.pure-u-mobile-1{padding:0 0 20px 0;}
		#banners{
			width:100%;
			height:auto;
			.animate{
				width:100%;
				height:auto;	
				.banner{
					width:100%;
					height:auto;
					top:0;
					left:0;
					img{
						display:block;
						position: relative;
						float:left;
					}
					.texto{
						position: relative;
						display:block;
						clear:left;
						left:0px;
						bottom:0px;
						padding:10px;
						max-width:100%;
						background:@azulClaro;
						.ubuntu(20px);
						.transition;
					}
				}
			}
			#controls{
				display:none;
			}
		}
		#enquete{
			width:auto;
			float:none;
			margin-top:15px;
		}
		#destaques{
			margin-top:0px;
			.chamada{
				height:auto;
				margin-top:15px;
				&.chamada-0{ float:none; }
				&.chamada-1{ float:none; }
				img{
					float:left;
					position:relative;
				}
				.overlay{
					clear:both;
					position:relative;
					left:0;
					bottom:0;
					display:block;
					background:@azulEscuro;
					.linha{
						height:auto;
						.labelCategoria{float:left;}
						.float-r{
							float:none !important;
							display:block;
							clear:left;
							.data{}
							.comentarios{}
						}
					}
				}
			}
		}
		#listaLinks{
			.pad-r{padding-right:0px;}
			.pad-l{padding-left:0px;}
			a{
				display:block;
				margin-bottom:10px !important;
				.capa{
					display:none;
				}
				.miolo{
					.labelCategoria{
						.ubuntu(12px);
						color:#fff;
						background:@azulClaro;
						height:25px;
						line-height:25px;
						padding:0 10px;
						margin-bottom:15px;
						text-transform:uppercase;
						position:relative;
						.inline;
						&.complay{
							&:after{
								position:absolute;
								top:0;
								right:-26px;
								content:"";
								width:25px;
								height:25px;
								margin-left:1px;
								background:url('../images/layout/icone_play-small.png') @azulEscuro center center no-repeat;								
							}
						}
					}
					h1{
						.ubuntu(14px, bold);
						color:@azulEscuro;
						line-height: 120%;
						margin-bottom: 7px;
						.transition;
					}
					h2{
						display:block;
						color:@cinzaEscuro;
						line-height: 120%;
						.ubuntu(12px);
						.transition;
					}
					.barra-superior{display:none}
					.barra-inferior{
						display:block;
						height:30px;
						line-height:30px;
						.data{
							.ubuntu(11px);
							color:@cinzaEscuro;
							padding-left:18px;
							background:url('../images/layout/icone_data.png') left center no-repeat;
							.inline;
						}
						.comentarios{
							strong{font-weight: bold;}
							margin-left:2px;
							.ubuntu(11px);
							color:@cinzaEscuro;
							padding-left:18px;
							background:url('../images/layout/icone_comentarios.png') left center no-repeat;
							.inline;
						}	
					}
				}
				.transition;
				min-height: 110px !important;
				margin-bottom:10px;
				clear:both;
				border-bottom:1px @cinzaMedio solid;
				.barra-superior{display:none;}
				&:hover{
					.capa .play{
						background:url('rgba.php/rgba(84,157,208,.85)');
						background:rgba(84,157,208,.85);
					}
					.miolo h1, .miolo h2{color:@azulClaro;}
				}
			}	
		}	
	}
}

@media @tablet{
	html body .main{
		*{max-width:100%;}
		//.pure-u-mobile-1{padding:0 0 20px 0;}
		#banners{
			width:100%;
			height:auto;
			.animate{
				width:100%;
				height:auto;	
				.banner{
					width:100%;
					height:auto;
					top:0;
					left:0;
					img{
						width:100%;
						display:block;
						position: relative;
						float:left;
					}
					.texto{
						position: relative;
						display:block;
						clear:left;
						left:0px;
						bottom:0px;
						padding:10px;
						max-width:100%;
						background:@azulClaro;
						.ubuntu(20px);
						.transition;
					}
				}
			}
			#controls{
				display:none;
			}
		}
		#enquete{
			width:auto;
			float:none;
			margin-top:15px;
		}
		#destaques{
			margin-top:0px;
			.pad-tablet-0{padding-right:10px;}
			.pad-tablet-1{padding-left:10px;}
			.chamada{
				height:auto;
				margin-top:15px;
				&.chamada-0{ float:none; }
				&.chamada-1{ float:none; }
				img{
					float:left;
					position:relative;
				}
				.overlay{
					clear:both;
					position:relative;
					left:0;
					bottom:0;
					display:block;
					background:@azulEscuro;
					.linha{
						height:auto;
						.labelCategoria{float:left;}
						.float-r{
							float:none !important;
							display:block;
							clear:left;
							.data{}
							.comentarios{}
						}
					}
				}
			}
		}
		#listaLinks{
			a{
				border-bottom:none !important;
			}
			.pad-l{padding-left:0px;}
		}
	}
}