@import 'vars.less';

.texto-imprensa{
	h2{
		color:@azulEscuro;
		.ubuntu(16px, bold);
		margin: 0 0 10px 0;
	}
	.cke{
		margin-bottom: 30px;
	}
	a{
		color:@azulClaro;
		&:active, &:visited{color:@azulClaro;}
		&:hover{color:@azulEscuro}
	}
}
.imagem-imprensa{
	border:1px #D9DADA solid;
	max-width: 100%;
	width: 100%;
}