@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');
.centro {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .centro {
    max-width: 310px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 568px) {
  .centro {
    max-width: 470px;
  }
}
@media only screen and (min-width: 569px) and (max-width: 1023px) {
  .centro {
    max-width: 740px;
  }
}
@media only screen and (min-width: 1024px) {
  .centro {
    max-width: 980px;
  }
}
.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.clear {
  clear: both;
}
.escondido {
  display: none;
}
@media only screen and (min-width: 768px) {
  .hide-full {
    display: none !important;
  }
}
@media only screen and (max-width: 767px) {
  .hide-mobile {
    display: none !important;
  }
}
.main-perguntasfrequentes {
  *zoom: 1;
}
.main-perguntasfrequentes:before,
.main-perguntasfrequentes:after {
  content: "";
  display: table;
}
.main-perguntasfrequentes:after {
  clear: both;
}
.perguntasfrequentes {
  width: 60%;
  float: right;
  margin-bottom: 60px;
}
.perguntasfrequentes h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #004281;
  margin: 1.5em 0 .8em;
}
.perguntasfrequentes h2:first-of-type {
  margin-top: 0;
}
.perguntasfrequentes .pergunta {
  border-bottom: 1px solid #E6E6E6;
  transition: border .3s;
  padding: 0 0 20px 20px;
  margin-top: 20px;
  position: relative;
}
.perguntasfrequentes .pergunta .status {
  position: absolute;
  left: 0;
  top: 3px;
  display: block;
  width: 10px;
  height: 10px;
}
.perguntasfrequentes .pergunta .status:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  background: #004281;
  opacity: 1;
  transition: opacity .3s;
}
.perguntasfrequentes .pergunta .status:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  left: 50%;
  margin-left: -1px;
  background: #004281;
  opacity: 1;
  transition: opacity .3s;
}
.perguntasfrequentes .pergunta > a {
  color: #549dd0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  transition: color .3s;
}
.perguntasfrequentes .pergunta > a:hover {
  color: #004281;
}
.perguntasfrequentes .pergunta:first-child {
  margin-top: 0;
}
.perguntasfrequentes .pergunta .resposta {
  display: none;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #818181;
  line-height: 1.4;
  padding: 15px 0 10px;
}
.perguntasfrequentes .pergunta .resposta p {
  margin-bottom: 10px;
}
.perguntasfrequentes .pergunta .resposta p:last-child {
  margin: 0;
}
.perguntasfrequentes .pergunta.open {
  border-color: #004281;
}
.perguntasfrequentes .pergunta.open > a {
  color: #004281;
}
.perguntasfrequentes .pergunta.open .status:after {
  opacity: 0;
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  .perguntasfrequentes {
    width: 100%;
  }
}
.perguntasfrequentes-imagem {
  width: 32.65%;
  float: left;
  margin-bottom: 60px;
}
.perguntasfrequentes-imagem img {
  width: 100%;
  height: auto;
  border: 1px solid #cdcdcd;
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  .perguntasfrequentes-imagem {
    display: none;
  }
}
@media only screen and (min-width: 0px) and (max-width: 568px) {
  h1#pagetitle .centro {
    font-size: 24px !important;
  }
}
