@import 'vars.less';

.main-perguntasfrequentes {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    *zoom: 1;
}

.perguntasfrequentes {
    width: 60%;
    float: right;
    margin-bottom: 60px;
    h2 {
        .ubuntu(20px, bold);
        color: @azulEscuro;
        margin-top: 1.5em 0 .8em;
        &:first-of-type {
          margin-top: 0;
        }
    }
    .pergunta {
        border-bottom: 1px solid #E6E6E6;
        transition: border .3s;
        padding: 0 0 20px 20px;
        margin-top: 20px;
        position: relative;
        .status {
            position: absolute;
            left: 0;
            top: 3px;
            display: block;
            width: 10px;
            height: 10px;
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: 50%;
                margin-top: -1px;
                background: @azulEscuro;
                opacity: 1;
                transition: opacity .3s;
            }
            &:after {
                content: "";
                position: absolute;
                height: 100%;
                width: 2px;
                left: 50%;
                margin-left: -1px;
                background: @azulEscuro;
                opacity: 1;
                transition: opacity .3s;
            }
        }
        > a {
            color: @azulClaro;
            .ubuntu(16px, bold);
            transition: color .3s;
            &:hover {
                color: @azulEscuro;
            }
        }
        &:first-child {
            margin-top: 0;
        }
        .resposta {
            display: none;
            .ubuntu(13px);
            color: @cinzaEscuro;
            line-height: 1.4;
            padding: 15px 0 10px;
            p {
                margin-bottom: 10px;
                &:last-child {
                    margin: 0;
                }
            }
        }
        &.open {
            border-color: @azulEscuro;
            > a {
                color: @azulEscuro;
            }
            .status:after {
                opacity: 0;
            }
        }
    }
    @media @mobile{
        width: 100%;
    }
}

.perguntasfrequentes-imagem {
    width: 32.65%;
    float: left;
    margin-bottom: 60px;
    img {
        width: 100%;
        height: auto;
        border: 1px solid #cdcdcd;
    }
    @media @mobile{
        display: none;
    }
}

@media @mobile{
    h1#pagetitle .centro {
        font-size: 24px !important;
    }
}
