@import 'vars.less';
html{
	body{
		aside{
			img{
				display:block;
				max-width: 100%;
				border:1px @cinzaMedio solid;
				box-sizing:border-box;
				display:block;
				margin:0 auto 10px auto;
			}
			a{
				display:block;
				border:1px @azulClaro solid;
				box-sizing:border-box;
				color:@azulClaro;
				text-align: center;
				height:40px;
				line-height:40px;
				.ubuntu(14px, bold);
				.transition;
				&:active, &:visited{color:@azulClaro;}
				&:hover{
					background:@azulEscuro;
					color:#fff;
				}
			}
		}
		.cke p{
			line-height:180%;
		}
	}
}
