@import 'vars.less';

html{
	body{
		#listaLinks{
			.pad-r{padding-right:18px;}
			.pad-l{padding-left:17px;}
			.pad{padding-right:35px;}
			margin-top:35px;
			a{
				display:block;
				.capa{
					margin-right:20px;
					float:left;
					position:relative;
					img{}
					.play{
						position:absolute;
						background:url('rgba.php/rgba(0,66,129,.85)');
						background:rgba(0,66,129,.85);
						width:40px;
						height:40px;
						z-index:999;
						.transition;
						&:after{
							content:'';
							position:absolute;
							width:40px;
							height:40px;
							top:0;
							left:0;
							width:100%;
							height:100%;
							background:url('../images/layout/icone_play-large.png') center center no-repeat;
						}
					}
				}
				.miolo{
					h1{
						.ubuntu(16px, bold);
						color:@azulEscuro;
						line-height: 120%;
						margin-bottom: 7px;
						position:relative;
						.transition;
						&.complay span{
							&:before{
								.inline;
								content:"";
								width:20px;
								height:20px;
								margin-right:7px;
								background:url('../images/layout/icone_play-small.png') @azulEscuro center center no-repeat;								
							}
						}
					}
					h2{
						color:@cinzaEscuro;
						line-height: 120%;
						.ubuntu(12px);
						.transition;
					}
					.barra-inferior,
					.barra-superior{
						height:30px;
						line-height:30px;
						.data{
							.ubuntu(12px);
							color:@cinzaEscuro;
							padding-left:20px;
							background:url('../images/layout/icone_data.png') left center no-repeat;
							.inline;
						}
						.comentarios{
							max-width: 100px;
							strong{font-weight: bold;}
							margin-left:20px;
							.ubuntu(12px);
							color:@cinzaEscuro;
							padding-left:20px;
							background:url('../images/layout/icone_comentarios.png') left center no-repeat;
							.inline;
						}	
					}
				}
				.transition;
				&:active, &:visited{}
				&.link-pequeno{
					min-height: 95px;
					margin-bottom:20px;
					border-bottom:1px @cinzaMedio solid;
					clear:both;
					.barra-superior{display:none;}
					.capa{
						margin-right:10px;
						width:95px;
						height:95px;
						img{
							max-height: 95px;
							max-width: 95px;
							position:absolute;
							top:0;
							left:0;
						}
						.play{
							top:50%;
							left:50%;
							-moz-transform: translateX(-50%) translateY(-50%);
							-webkit-transform: translateX(-50%) translateY(-50%);
							-o-transform: translateX(-50%) translateY(-50%);
							-ms-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
						}
					}
					&.comimagem h2{display:none;}
					.barra-inferior{
						height:22px;
						line-height:160%;
						padding:3px 0;
						display:block;
						clear:both;
						.data{
							margin-right:10px;
							.ubuntu(11px);							
						}
						.comentarios{
							margin-left:0px;
							.ubuntu(11px);							
						}	
					}
				}
				&.link-grande{
					clear:both;
					margin-bottom:46px;
					border-bottom:1px @cinzaMedio solid;
					&.comimagem{
						min-height:180px;
						h1{font-size:16px;}
					}
					.barra-superior{display:none;}
					.capa .play{
						top:0;
						right:0;
					}
				}
				&:hover{
					.capa .play{
						background:url('rgba.php/rgba(84,157,208,.85)');
						background:rgba(84,157,208,.85);
					}
					.miolo h1, .miolo h2{color:@azulClaro;}
				}
			}
			#formNewsletter{
				h1{
					background: @azulEscuro;
					color:#fff;
					text-align:center;
					height:42px;
					line-height:42px;
					.ubuntu(14px);
				}
				form{
					padding:20px;
					background:@cinzaClaro;
					input[type="text"],
					input[type="email"]{
						background:@cinzaClaro;
						margin:0;
						&:first-child{margin-bottom:3px;}
						padding:5px;
						border:1px @cinzaEscuro solid;
						color:@cinzaEscuro;
						height:29px;
						line-height:17px;
						display:block;
						width:98%;
						box-sizing:border-box;
						.ubuntu(12px);
					}
					input[type="submit"]{
						display:block;
						height:100%;
						width:100%;
						border:0;
						height:61px;
						cursor:pointer;
						background:@azulEscuro;
						color:#fff;
						text-align: center;
						.ubuntu(18px, bold);
						.transition;
						&:hover{
							background:@azulClaro;
						}
					}
				}
			}
		}
		#detalhes{
			section{
				.pad{
					padding-right:59px;
					@media @mobile{padding-right:0px;}
					h1{
						.ubuntu(28px);
						color:@azulEscuro;
						line-height:160%;
					}
					#imagem-destaque, #video-destaque{
						margin:20px 0;
					}
					.olho{
						.ubuntu(18px);
						line-height:130%;
						color:@cinzaEscuro;
					}
					.barra{
						margin:15px 0 25px 0;
						border-bottom:1px @cinzaMedio solid;
						padding-bottom: 15px;
						min-height:25px;
						overflow:hidden;
						.categoria{
							float:left;
							padding:0 10px;
							height:25px;
							line-height:25px;
							background:@azulClaro;
							color:#fff;
							.inline;
							.ubuntu(12px);
							.transition;
						}
						.data{
							float:left;
							padding:0 10px;
							height:25px;
							color:@cinzaEscuro;
							.ubuntu(12px);
							line-height:25px;
							margin-left:15px;
							padding-left: 20px;
							background:url('../images/layout/icone_data.png') left center no-repeat;
						}
						.comentarios{
							float:left;
							color:@cinzaEscuro;
							.ubuntu(12px);
							margin-left:15px;
							height:25px;
							line-height:25px;
							padding-left: 20px;
							background:url('../images/layout/icone_comentarios.png') left center no-repeat;
							strong{font-weight: bold;}
						}
						.social{
							display:block;
							clear:left;
							height:25px;
							padding-top:15px;
							overflow: hidden;
							@media @mobile{
								height:35px;
								overflow:hidden;
								display:block;
							}
							.fb{
								width:142px;
								overflow:hidden;
								float:left;
							}
						}
					}
					.texto{
						margin-bottom:30px;
					}
					#galeria{
						border-top:1px @cinzaMedio solid;
						padding-top:20px;
						font-size:0;
						margin-bottom:30px;
						h2{
							color:@azulClaro;
							.ubuntu(16px, bold);
							line-height: 120%;
							margin-bottom: 20px;
						}
						.link-galeria{
							width:110px;
							height: 110px;
							position:relative;
							margin:0 10px 10px 0;
							&:nth-child(5n){margin-right: 0;}
							.inline;
							img{
								position: absolute;
								top:0;
								left:0;
								z-index:1;
								max-width:100%;
								max-height: 100%;
							}
							.overlay{
								position: absolute;
								top:0;
								left:0;
								z-index:2;	
								background:url('rgba.php/rgba(84,157,208,.75)');
								background:rgba(84,157,208,.85);
								opacity:0;
								width:100%;
								height: 100%;
								.transition;
							}
							&:hover .overlay{opacity:1;}
						}						
					}
					.barra-social-inferior{
						height:25px;
						.fb{
							width:200px;
							overflow:hidden;
							float:left;
						}
					}
					#comentarios{

					}
				}
			}
			#backbutton{
				width:85px;
				line-height:38px;
				text-align:center;
				color:@azulClaro;
				border:1px @azulClaro solid;
				background: #fff;
				display:block;
				margin:50px 0 15px 0;
				.ubuntu(14px, bold);
				.transition;
				&:hover{
					background:@azulEscuro;
					color:#fff;
				}
			}
			aside{
				h2{
					height:40px;
					line-height:40px;
					border-bottom:1px @cinzaMedio solid;
					color:@cinzaEscuro;
					.ubuntu(16px);
					margin-bottom:20px;
				}
				a{
					display:block;
					&.comimagem{
						padding-left:110px;
						min-height: 95px;
					}
					.capa{
						margin-right:20px;
						float:left;
						position:relative;
						img{}
						.play{
							position:absolute;
							background:url('rgba.php/rgba(0,66,129,.85)');
							background:rgba(0,66,129,.85);
							width:40px;
							height:40px;
							z-index:999;
							.transition;
							&:after{
								content:'';
								position:absolute;
								width:40px;
								height:40px;
								top:0;
								left:0;
								width:100%;
								height:100%;
								background:url('../images/layout/icone_play-large.png') center center no-repeat;
							}
						}
					}
					.miolo{
						h1{
							.ubuntu(14px, bold);
							color:@azulEscuro;
							line-height: 120%;
							margin-bottom: 7px;
							.transition;
						}
						h2{
							color:@cinzaEscuro;
							line-height: 120%;
							.ubuntu(12px);
							.transition;
						}
						.barra-inferior,
						.barra-superior{
							min-height:30px;
							line-height:30px;
							.data{
								.ubuntu(12px);
								color:@cinzaEscuro;
								padding-left:20px;
								background:url('../images/layout/icone_data.png') left center no-repeat;
								.inline;
							}
							.comentarios{
								strong{font-weight: bold;}
								.ubuntu(12px);
								color:@cinzaEscuro;
								padding-left:20px;
								background:url('../images/layout/icone_comentarios.png') left center no-repeat;
								.inline;
							}	
						}
					}
					.transition;
					&:active, &:visited{}
					&.link-pequeno{
						margin-bottom:20px;
						clear:both;
						.barra-inferior{display:none;}
						h2{display:none;}
						.capa{
							margin-left:-110px;
							margin-right:10px;
							width:95px;
							height:95px;
							img{
								max-height: 95px;
								max-width: 95px;
								position:absolute;
								top:0;
								left:0;
							}
							.play{
								top:50%;
								left:50%;
								-moz-transform: translateX(-50%) translateY(-50%);
								-webkit-transform: translateX(-50%) translateY(-50%);
								-o-transform: translateX(-50%) translateY(-50%);
								-ms-transform: translateX(-50%) translateY(-50%);
								transform: translateX(-50%) translateY(-50%);
							}
						}
						.barra-superior{
							height:22px;
							line-height:110%;
							margin-bottom: 5px;
							.data{
								display:block;
								.ubuntu(11px);							
							}
							.comentarios{
								display:block;
								.ubuntu(11px);							
							}	
						}
					}
					&:hover{
						.capa .play{
							background:url('rgba.php/rgba(84,157,208,.85)');
							background:rgba(84,157,208,.85);
						}
						.miolo h1, .miolo h2{color:@azulClaro;}
					}
				}				
			}
		}
		#listaResultados{
			font-size: 0;
			a.link-medio{
				.inline;
				width:314px;
				margin-right:19px;
				&:nth-child(3n){margin-right:0;}
				.capa{
					margin-right:20px;
					float:left;
					position:relative;
					img{}
					.play{
						position:absolute;
						background:url('rgba.php/rgba(0,66,129,.85)');
						background:rgba(0,66,129,.85);
						width:40px;
						height:40px;
						z-index:999;
						.transition;
						&:after{
							content:'';
							position:absolute;
							width:40px;
							height:40px;
							top:0;
							left:0;
							width:100%;
							height:100%;
							background:url('../images/layout/icone_play-large.png') center center no-repeat;
						}
					}
				}
				.miolo{
					.labelCategoria{
						.ubuntu(12px);
						color:#fff;
						background:@azulClaro;
						height:25px;
						line-height:25px;
						padding:0 10px;
						margin-bottom:15px;
						text-transform:uppercase;
						position:relative;
						.inline;
						&.complay{
							&:after{
								position:absolute;
								top:0;
								right:-26px;
								content:"";
								width:25px;
								height:25px;
								margin-left:1px;
								background:url('../images/layout/icone_play-small.png') @azulEscuro center center no-repeat;								
							}
						}
					}
					h1{
						.ubuntu(14px, bold);
						color:@azulEscuro;
						line-height: 120%;
						margin-bottom: 7px;
						.transition;
					}
					h2{
						color:@cinzaEscuro;
						line-height: 120%;
						.ubuntu(12px);
						.transition;
					}
					.barra-inferior,
					.barra-superior{
						height:30px;
						line-height:30px;
						.data{
							.ubuntu(12px);
							color:@cinzaEscuro;
							padding-left:20px;
							background:url('../images/layout/icone_data.png') left center no-repeat;
							.inline;
						}
						.comentarios{
							strong{font-weight: bold;}
							margin-left:20px;
							.ubuntu(12px);
							color:@cinzaEscuro;
							padding-left:20px;
							background:url('../images/layout/icone_comentarios.png') left center no-repeat;
							.inline;
						}	
					}
				}
				.transition;
				&:active, &:visited{}
					clear:both;
					margin-bottom:40px;
					border-bottom:1px @cinzaMedio solid;
					min-height:138px;
					.barra-superior{display:none;}
					h2{
						.ubuntu(14px);
						color:@cinzaEscuro;
						line-height: 120%;
						height: 52px;
						overflow:hidden;
					}
					.capa{
						margin-right:10px;
						width:110px;
						height:110px;
						img{
							max-height: 110px;
							max-width: 110px;
							position:absolute;
							top:0;
							left:0;
						}
						.play{
							top:50%;
							left:50%;
							-moz-transform: translateX(-50%) translateY(-50%);
							-webkit-transform: translateX(-50%) translateY(-50%);
							-o-transform: translateX(-50%) translateY(-50%);
							-ms-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
						}
					}
					.barra-inferior{
						height:22px;
						padding-bottom:6px;
						line-height:auto;
						display:block;
						clear:both;
						.data{
							margin-right:10px;
							.ubuntu(11px);							
						}
						.comentarios{
							margin-left:0px;
							.ubuntu(11px);							
						}	
					}
				&:hover{
					.capa .play{
						background:url('rgba.php/rgba(84,157,208,.85)');
						background:rgba(84,157,208,.85);
					}
					.miolo h1, .miolo h2{color:@azulClaro;}
				}
			}
		}
		#buscaAvancada{
			margin-bottom:30px;
			border-bottom: 1px @cinzaMedio solid;
			padding-bottom:20px;
			form{
				input[type="text"]{
					width:260px;
					.inline;
					height:40px;
					line-height:40px;
					padding:4px 12px;
					border:1px #CCCCCC solid;
					box-sizing: border-box;
					color:#A0A0A0;
					margin-bottom:4px;
					margin-right:35px;
					.ubuntu(13px);
					.placeholder(#A0A0A0);
				}
				label{
					.inline;
					height:40px;
					margin-right:25px;
					line-height:40px;
					cursor:pointer;
					.ubuntu(12px);
					color:@azulClaro;
					input{vertical-align: -2px;}
				}
				input[type="submit"]{
					float:right;
					width:165px;
					line-height:38px;
					text-align:center;
					color:@azulClaro;
					cursor:pointer;
					border:1px @azulClaro solid;
					background: #fff;
					.ubuntu(14px, bold);
					.transition;
					&:hover{
						background:@azulEscuro;
						color:#fff;
					}
				}
			}
		}
		#numresultados{
			margin-bottom:35px;
			color:@cinzaEscuro;
			.ubuntu(14px);
			strong{
				font-weight: bold;
				color:@azulEscuro;
			}
		}
	}
}

.cke p{
	margin-bottom:20px;
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}