@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,700italic');

@largura:980px;

@azulEscuro:#004281;
@azulMedio:#3C7DAA;
@azulClaro:#549DD0;

@cinzaEscuro:#818181;
@cinzaMedio:#CDCDCD;
@cinzaClaro:#F0F0F0;

@mobile:    ~"only screen and (min-width: 0px) and (max-width: 568px)";
@tablet:    ~"only screen and (min-width: 569px) and (max-width: 1023px)";
@desktop:   ~"only screen and (min-width: 1024px)";

@mobile_e_tablet:  ~"only screen and (min-width: 0px) and (max-width: 1023px)";
@tablet_e_desktop: ~"only screen and (min-width: 481px)";

.centro{
	width:100%;
	padding:0;
	margin:0 auto;
	@media only screen and (min-width: 0px) and (max-width: 320px){
		max-width:310px;
	}
	@media only screen and (min-width: 321px) and (max-width: 568px){
		max-width:470px;
	}
	@media @tablet{
		max-width:740px;
	}
	@media @desktop{
		max-width:980px;
	}
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.ubuntu(@fsize:12px, @fweight:normal){
	font-family: 'Ubuntu', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }
.offscreen{
	display:block;
	text-indent:-999999999px;
}
.clear{ clear: both; }
.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
.escondido{display:none;}
.rgba(@r:0,@g:0,@b:0,@a:1){
	background:url('rgba.php/rgba(@r,@g,@b,@a)');
	background:rgba(@r,@g,@b,@a);
}

.hide-full{
	@media only screen and (min-width: 768px) {
		display:none !important;
	}
}

.hide-mobile{
	@media only screen and (max-width: 767px) {
		display:none !important;
	}
}
